Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2018-12, with the labels that each got.

#2894 Integration with codecov.io
  .travis.yml
  README.md
  angular.json
Labels: type: build, type: tests

#2902 chore: add linting to e2e application
  angular.json
  e2e-app/tslint.json
  package.json
Labels: type: build

#2872 fix(typeahead): prevent validation during an item click
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/typeahead/validation/typeahead-validation.component.html
  e2e-app/src/app/typeahead/validation/typeahead-validation.component.ts
  e2e-app/src/app/typeahead/validation/typeahead-validation.e2e-spec.ts
Labels: component: typeahead, type: tests

#2891 fix(typeahead): input value properly reset when hint/ngModel are used together
  src/typeahead/typeahead.spec.ts
  src/typeahead/typeahead.ts
Labels: component: typeahead, needs: merging

#2908 fix(carousel): do change detection when slides change
  src/carousel/carousel.spec.ts
  src/carousel/carousel.ts
Labels: component: carousel, type: bug

#2921 docs(home): add direct link to project code coverage
  demo/src/app/default/default.component.html
Labels: type: demo site

#2903 fix(timepicker): setting hour/minute/second step to undefined
  src/timepicker/timepicker.spec.ts
  src/timepicker/timepicker.ts
Labels: component: timepicker, needs: merging, type: bug

#2917 docs(table): add demo section about the table component
  demo/src/app/app.module.ts
  demo/src/app/app.routing.ts
  demo/src/app/components/table/demos/basic/table-basic.html
  demo/src/app/components/table/demos/basic/table-basic.ts
  demo/src/app/components/table/demos/complete/countries.ts
  demo/src/app/components/table/demos/complete/country.service.ts
  demo/src/app/components/table/demos/complete/country.ts
  demo/src/app/components/table/demos/complete/sortable.directive.ts
  demo/src/app/components/table/demos/complete/table-complete.html
  demo/src/app/components/table/demos/complete/table-complete.ts
  demo/src/app/components/table/demos/filtering/table-filtering.html
  demo/src/app/components/table/demos/filtering/table-filtering.ts
  demo/src/app/components/table/demos/pagination/table-pagination.html
  demo/src/app/components/table/demos/pagination/table-pagination.ts
  demo/src/app/components/table/demos/sortable/table-sortable.html
  demo/src/app/components/table/demos/sortable/table-sortable.ts
  demo/src/app/components/table/overview/demo/table-overview-demo.component.ts
  demo/src/app/components/table/overview/table-overview.component.html
  demo/src/app/components/table/overview/table-overview.component.ts
  demo/src/app/components/table/table.module.ts
  demo/src/app/shared/side-nav/side-nav.component.ts
  demo/src/environments/environment.prod.ts
  demo/src/environments/environment.ts
  demo/src/environments/versions.ts
  demo/src/style/demos.css
  src/package.json
Labels: needs: review, type: demo, type: demo site, type: doc

#2934 chore(demo): pagination overview tab
  demo/src/app/components/pagination/overview/pagination-overview.component.html
  demo/src/app/components/pagination/overview/pagination-overview.component.ts
  demo/src/app/components/pagination/pagination.module.ts
Labels: component: pagination, needs: review, type: demo site
