Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2018-09, with the labels that each got.

#2700 chore: enable source maps when testing with coverage
  package.json
  src/karma.conf.js
Labels: type: build

#2679 fix(demo) add Object.values polyfill
  demo/src/polyfills.ts
Labels: type: demo site

#2674 fix(timepicker): chevron width and height must match
  src/timepicker/timepicker.ts
Labels: component: timepicker, needs: review

#2678 Fix CSS prefixes
  src/datepicker/datepicker-navigation-select.ts
  src/datepicker/datepicker-navigation.ts
  src/timepicker/timepicker.ts
Labels: component: datepicker, component: timepicker

#2705 demo: fix entryComponent generation for Plunkers and StackBlitzes
  misc/plunk-gen.js
  misc/stackblitz-gen.js
Labels: needs: review, type: build, type: demo site

#2687 demo(datepicker): organize calendar demos in a separate tab
  demo/src/app/components/datepicker/calendars/datepicker-calendars.component.ts
  demo/src/app/components/datepicker/datepicker.module.ts
  demo/src/app/components/datepicker/demos/calendars/datepicker-calendars.html
  demo/src/app/components/datepicker/demos/calendars/datepicker-calendars.ts
  demo/src/app/components/datepicker/demos/hebrew/datepicker-hebrew.html
  demo/src/app/components/datepicker/demos/islamiccivil/datepicker-islamiccivil.html
  demo/src/app/components/datepicker/demos/islamiccivil/datepicker-islamiccivil.ts
  demo/src/app/components/datepicker/demos/islamicumalqura/datepicker-islamicumalqura.html
  demo/src/app/components/datepicker/demos/islamicumalqura/datepicker-islamicumalqura.ts
  demo/src/app/components/datepicker/demos/jalali/datepicker-jalali.html
  demo/src/app/components/datepicker/overview/datepicker-overview.component.html
  demo/src/app/components/datepicker/overview/datepicker-overview.component.ts
  demo/src/app/components/shared/index.ts
  src/datepicker/hebrew/ngb-calendar-hebrew.ts
Labels: component: datepicker, type: demo site

#2684 fix(datepicker): avoid updating the model twice (on input and on change)
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
Labels: component: datepicker

#2668 fix(datepicker): no longer trigger onChange when the value is equivalent
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker.spec.ts
  src/datepicker/datepicker.ts
Labels: component: datepicker

#2699 fix(popover): unregister event listener functions only if present
  src/popover/popover.spec.ts
  src/popover/popover.ts
Labels: component: popover

#2713 fix(datepicker): don't close on Esc if autoClose is false
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
Labels: component: datepicker

#2736 chore: drop plunker support
  .github/ISSUE_TEMPLATE.md
  README.md
  demo/src/app/components/shared/examples-page/demo.component.html
  demo/src/public/img/plunker-icon.png
  demo/src/public/img/stackblitz-icon.svg
  demo/src/style/app.scss
  gulpfile.js
  misc/plunk-gen.js
  misc/plunker-builder-templates/main.ts
  misc/stackblitz-gen.js
Labels: needs: review, type: build, type: demo site

#2709 Use autoprefixer and SCSS for library build
  src/alert/alert.scss
  src/alert/alert.ts
  src/browserslist
  src/datepicker/datepicker-day-view.scss
  src/datepicker/datepicker-day-view.ts
  src/datepicker/datepicker-month-view.scss
  src/datepicker/datepicker-month-view.ts
  src/datepicker/datepicker-navigation-select.scss
  src/datepicker/datepicker-navigation-select.ts
  src/datepicker/datepicker-navigation.scss
  src/datepicker/datepicker-navigation.ts
  src/datepicker/datepicker.scss
  src/datepicker/datepicker.ts
  src/popover/popover.scss
  src/popover/popover.ts
  src/timepicker/timepicker.scss
  src/timepicker/timepicker.ts
  src/tooltip/tooltip.scss
  src/tooltip/tooltip.ts
  src/typeahead/highlight.scss
  src/typeahead/highlight.ts
Labels: needs: merging, type: build

#2732 fix(datepicker): convert years 0-99 correctly with native adapters
  src/datepicker/adapters/ngb-date-native-adapter.spec.ts
  src/datepicker/adapters/ngb-date-native-adapter.ts
  src/datepicker/adapters/ngb-date-native-utc-adapter.spec.ts
  src/datepicker/adapters/ngb-date-native-utc-adapter.ts
Labels: component: datepicker, needs: review

#2738 fix(datepicker): fix 'util' import and use 'isInteger'
  src/datepicker/adapters/ngb-date-adapter.ts
  src/datepicker/adapters/ngb-date-native-adapter.ts
  tslint.json
Labels: component: datepicker, needs: review, type: bug

#2716 feat(datepicker): allow to pass user data to the day template context
  src/datepicker/datepicker-config.ts
  src/datepicker/datepicker-day-template-context.ts
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-service.ts
  src/datepicker/datepicker-tools.ts
  src/datepicker/datepicker-view-model.ts
  src/datepicker/datepicker.spec.ts
  src/datepicker/datepicker.ts
Labels: component: datepicker, type: feature

#2729 feat(datepicker): add $implicit property for day template context
  demo/src/app/components/datepicker/demos/customday/datepicker-customday.html
  demo/src/app/components/datepicker/demos/range/datepicker-range.html
  demo/src/app/components/datepicker/overview/datepicker-overview.component.html
  demo/src/app/components/datepicker/overview/datepicker-overview.component.ts
  demo/src/app/components/datepicker/overview/demo/datepicker-overview-demo.component.ts
  src/datepicker/datepicker-day-template-context.ts
  src/datepicker/datepicker-month-view.spec.ts
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-tools.ts
Labels: component: datepicker, type: feature
