Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2018-03, with the labels that each got.

#2210 refactor(datepicker): enable/disable navigation buttons in the service
  src/datepicker/datepicker-navigation.spec.ts
  src/datepicker/datepicker-navigation.ts
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-service.ts
  src/datepicker/datepicker-tools.ts
  src/datepicker/datepicker-view-model.ts
  src/datepicker/datepicker.ts
Labels: component: datepicker

#2222 refactor(typeahead): use CSS classes instead of inline styles
  src/typeahead/typeahead-window.ts
Labels: component: typeahead

#2253 feat(tooltip): intoduce disabled flag
  src/tooltip/tooltip-config.spec.ts
  src/tooltip/tooltip-config.ts
  src/tooltip/tooltip.spec.ts
  src/tooltip/tooltip.ts
Labels: component: tooltip, needs: merging, type: feature
