Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2018-08, with the labels that each got.

#2552 refactor(alert): remove intermediate 'div' element
  src/alert/alert.spec.ts
  src/alert/alert.ts
Labels: breaking change, component: alert

#2571 feat(tooltip): autoclose
  demo/src/app/components/tooltip/demos/autoclose/tooltip-autoclose.html
  demo/src/app/components/tooltip/demos/autoclose/tooltip-autoclose.ts
  demo/src/app/components/tooltip/demos/index.ts
  demo/src/app/components/tooltip/demos/tplwithcontext/tooltip-tplwithcontext.html
  demo/src/app/components/tooltip/demos/triggers/tooltip-triggers.html
  demo/src/app/components/tooltip/tooltip.component.ts
  src/tooltip/tooltip-config.spec.ts
  src/tooltip/tooltip-config.ts
  src/tooltip/tooltip.spec.ts
  src/tooltip/tooltip.ts
Labels: component: tooltip, type: feature

#2577 test(popover): test default configuration value for autoClose
  src/popover/popover-config.spec.ts
Labels: component: popover, type: tests

#2581 chore: fix deprecations in the code
  src/modal/modal-stack.ts
  src/modal/modal.spec.ts
  src/typeahead/typeahead.spec.ts
Labels: needs: merging

#2586 fix(demo): missing / in bootstrap href link
  demo/src/app/app.component.html
Labels: needs: merging, type: demo site

#2588 fix(modal): use correct ComponentFactoryResolver
  src/modal/modal-stack.ts
  src/modal/modal.module.ts
Labels: component: modal

#2587 refactor(datepicker): use 'formatDate' instead of 'DatePipe'
  src/datepicker/datepicker-i18n.spec.ts
  src/datepicker/datepicker-i18n.ts
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-tools.spec.ts
  src/datepicker/datepicker.module.ts
Labels: component: datepicker

#2592 feat(tabset): allow arbitrary nav type
  src/tabset/tabset.spec.ts
  src/tabset/tabset.ts
Labels: component: tab, needs: merging

#2593 feat(datepicker): allow overriding day, week number and year numerals
  src/datepicker/datepicker-day-view.spec.ts
  src/datepicker/datepicker-day-view.ts
  src/datepicker/datepicker-i18n.spec.ts
  src/datepicker/datepicker-i18n.ts
  src/datepicker/datepicker-integration.spec.ts
  src/datepicker/datepicker-month-view.ts
  src/datepicker/datepicker-navigation-select.ts
Labels: component: datepicker, type: feature

#2596 fix(datepicker): correctly override year numerals for multiple months
  src/datepicker/datepicker-integration.spec.ts
  src/datepicker/datepicker.ts
Labels: component: datepicker, needs: merging

#2649 fix(demo): NgbdExamplesPage must not be OnPush
  demo/src/app/components/shared/examples-page/examples.component.ts
Labels: type: bug, type: demo site

#2625 feat(tooltip): ability to add custom CSS classes to tooltip window
  demo/src/app/components/tooltip/demos/customclass/tooltip-customclass.html
  demo/src/app/components/tooltip/demos/customclass/tooltip-customclass.ts
  demo/src/app/components/tooltip/tooltip.module.ts
  src/tooltip/tooltip-config.spec.ts
  src/tooltip/tooltip-config.ts
  src/tooltip/tooltip.spec.ts
  src/tooltip/tooltip.ts
Labels: component: tooltip, needs: review, needs: work

#2648 chore: add proper tslint configs and enable linting for the demo
  angular.json
  demo/src/app/components/accordion/demos/preventchange/accordion-preventchange.ts
  demo/src/app/components/datepicker/demos/range/datepicker-range.ts
  demo/src/app/components/datepicker/overview/demo/datepicker-overview-demo.component.ts
  demo/src/app/components/shared/api-docs/api-docs-class.component.ts
  demo/src/app/components/shared/api-docs/api-docs-config.component.ts
  demo/src/app/components/shared/api-docs/api-docs.component.ts
  demo/src/app/components/tabset/demos/preventchange/tabset-preventchange.ts
  demo/src/app/components/typeahead/demos/basic/typeahead-basic.ts
  demo/src/app/components/typeahead/demos/config/typeahead-config.ts
  demo/src/app/components/typeahead/demos/format/typeahead-format.ts
  demo/src/app/components/typeahead/demos/http/typeahead-http.ts
  demo/src/app/components/typeahead/demos/template/typeahead-template.ts
  demo/tslint.json
  package.json
  src/tslint.json
Labels: needs: merging, type: build, type: demo site

#2644 feat(modal): remove TS1.8 support
  src/modal/modal-ref.ts
Labels: needs: merging

#2525 chore: add application for e2e tests
  .gitignore
  DEVELOPER.md
  angular.json
  e2e-app/e2e/protractor.conf.js
  e2e-app/e2e/src/datepicker/datepicker-focustrap.e2e-spec.ts
  e2e-app/e2e/src/datepicker/datepicker-focustrap.po.ts
  e2e-app/e2e/src/modal/modal-focustrap.e2e-spec.ts
  e2e-app/e2e/src/modal/modal-focustrap.po.ts
  e2e-app/e2e/tsconfig.json
  e2e-app/src/app/app.component.ts
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/datepicker/focustrap/datepicker-focustrap.component.html
  e2e-app/src/app/datepicker/focustrap/datepicker-focustrap.component.ts
  e2e-app/src/app/modal/focustrap/modal-focustrap.component.html
  e2e-app/src/app/modal/focustrap/modal-focustrap.component.ts
  e2e-app/src/browserslist
  e2e-app/src/environments/environment.prod.ts
  e2e-app/src/environments/environment.ts
  e2e-app/src/favicon.ico
  e2e-app/src/index.html
  e2e-app/src/main.ts
  e2e-app/src/polyfills.ts
  e2e-app/src/style/app.scss
  e2e-app/tsconfig.json
  package.json
Labels: type: tests

#2636 feature(date-picker): added aria-labels to year and month select elem…
  src/datepicker/datepicker-navigation-select.spec.ts
  src/datepicker/datepicker-navigation-select.ts
Labels: component: datepicker, needs: info

#2640 feat(modal): stacked modals
  demo/src/app/components/modal/demos/stacked/modal-stacked.html
  demo/src/app/components/modal/demos/stacked/modal-stacked.ts
  demo/src/app/components/modal/modal.module.ts
  src/modal/modal-backdrop.ts
  src/modal/modal-stack.ts
  src/modal/modal-window.ts
  src/modal/modal.spec.ts
Labels: component: modal, needs: work

#2664 demo(datepicker): Hebrew calendar demo
  demo/src/app/components/datepicker/datepicker.module.ts
  demo/src/app/components/datepicker/demos/hebrew/datepicker-hebrew.html
  demo/src/app/components/datepicker/demos/hebrew/datepicker-hebrew.ts
Labels: component: datepicker, type: demo

#2659 feat(datepicker): NgbDateNativeUTCAdapter
  src/datepicker/adapters/ngb-date-native-utc-adapter.spec.ts
  src/datepicker/adapters/ngb-date-native-utc-adapter.ts
  src/datepicker/datepicker.module.ts
  src/index.ts
Labels: component: datepicker, type: feature

#2665 docs(datepicker): clarify available calendars
  demo/src/app/components/datepicker/overview/datepicker-overview.component.html
  demo/src/app/components/datepicker/overview/datepicker-overview.component.ts
Labels: component: datepicker, type: doc

#2666 refactor(datepicker): use 'instanceof' in adapters
  src/datepicker/adapters/ngb-date-native-adapter.ts
  src/datepicker/adapters/ngb-date-native-utc-adapter.ts
Labels: component: datepicker, needs: review

#2667 demo(modal): fix missed calendar icon in modal demo
  demo/src/app/components/modal/demos/basic/modal-basic.html
Labels: component: modal, type: demo
