Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2018-10, with the labels that each got.

#2749 demo(alert): simplify closeable alerts demo
  demo/src/app/components/alert/demos/closeable/alert-closeable.html
  demo/src/app/components/alert/demos/closeable/alert-closeable.ts
Labels: component: alert

#2748 fix(carousel): do not crash if there are no slides
  src/carousel/carousel.spec.ts
  src/carousel/carousel.ts
Labels: component: carousel, needs: review, type: bug

#2740 feat(modal): allow checking if there are open modals
  src/modal/modal-stack.ts
  src/modal/modal.spec.ts
  src/modal/modal.ts
Labels: component: modal, needs: merging, type: feature

#2756 chore(demo): add stackblitz ga event tracker
  demo/src/app/components/shared/examples-page/demo.component.html
  demo/src/app/components/shared/examples-page/demo.component.ts
Labels: needs: review, type: demo site

#2745 test(datepicker): add e2e tests for focus handling
  e2e-app/e2e/src/datepicker/datepicker-focus.e2e-spec.ts
  e2e-app/e2e/src/datepicker/datepicker-focustrap.e2e-spec.ts
  e2e-app/e2e/src/datepicker/datepicker-focustrap.po.ts
  e2e-app/e2e/src/datepicker/datepicker.po.ts
  e2e-app/e2e/src/tools.ts
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/datepicker/focus/datepicker-focus.component.html
  e2e-app/src/app/datepicker/focus/datepicker-focus.component.ts
  e2e-app/src/app/datepicker/focustrap/datepicker-focustrap.component.html
  e2e-app/src/app/datepicker/focustrap/datepicker-focustrap.component.ts
Labels: component: datepicker, needs: review, type: tests

#2737 feat(modal): [ngbAutofocus] option
  demo/src/app/components/modal/demos/focus/modal-focus.html
  demo/src/app/components/modal/demos/focus/modal-focus.ts
  demo/src/app/components/modal/modal.module.ts
  misc/stackblitz-gen.js
  src/modal/modal-window.ts
  src/modal/modal.module.ts
  src/modal/modal.spec.ts
  src/util/focus-trap.ts
Labels: component: modal, needs: work, type: feature

#2753 fix(hook): git commit msg hook fail
  misc/validate-commit.js
Labels: needs: review

#2763 fix: remove void type expressions in templates for TS 3.1
  src/datepicker/datepicker-navigation.ts
  src/pagination/pagination.ts
  src/tabset/tabset.ts
Labels: needs: merging, type: bug

#2778 docs(datepicker): clarify documentation for native date adapters
  demo/src/app/components/datepicker/overview/datepicker-overview.component.html
  demo/src/app/components/datepicker/overview/datepicker-overview.component.ts
  src/datepicker/adapters/ngb-date-adapter.ts
  src/datepicker/adapters/ngb-date-native-adapter.ts
  src/datepicker/adapters/ngb-date-native-utc-adapter.ts
Labels: component: datepicker, type: doc

#2776 fix(carousel): change sildes on prev/next/select API calls with OnPush
  src/carousel/carousel.spec.ts
  src/carousel/carousel.ts
Labels: component: carousel, type: bug

#2769 chore: use TS for static file generation instead of Gulp
  .travis.yml
  gulpfile.js
  misc/api-doc.spec.ts
  misc/api-doc.ts
  misc/copy-static-files.ts
  misc/demo-gen-utils.js
  misc/demo-gen.js
  misc/generate-docs.ts
  misc/generate-stackblitzes.ts
  misc/get-doc.js
  misc/tsconfig.json
  package.json
  yarn.lock
Labels: needs: review, type: build

#2789 chore: add yarn integrity hashes
  yarn.lock
Labels: type: build

#2790 chore(build): support TS 3.1 for doc extraction script
  misc/api-doc.ts
Labels: type: build

#2771 test(datepicker): add e2e tests for autoClose
  e2e-app/e2e/src/datepicker/datepicker-autoclose.e2e-spec.ts
  e2e-app/e2e/src/datepicker/datepicker-autoclose.po.ts
  e2e-app/e2e/src/datepicker/datepicker-focus.e2e-spec.ts
  e2e-app/e2e/src/datepicker/datepicker-focus.po.ts
  e2e-app/e2e/src/datepicker/datepicker.po.ts
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/datepicker/autoclose/datepicker-autoclose.component.html
  e2e-app/src/app/datepicker/autoclose/datepicker-autoclose.component.ts
Labels: component: datepicker, type: tests

#2787 test(dropdown): add e2e tests for autoClose
  e2e-app/e2e/src/dropdown/dropdown-autoclose.e2e-spec.ts
  e2e-app/e2e/src/dropdown/dropdown-autoclose.po.ts
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.component.html
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.component.ts
Labels: component: dropdown, type: tests

#2783 feat(typeahead): add e2e tests for focus
  e2e-app/e2e/src/typeahead/typeahead-focus.e2e-spec.ts
  e2e-app/e2e/src/typeahead/typeahead.po.ts
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/typeahead/focus/typeahead-focus.component.html
  e2e-app/src/app/typeahead/focus/typeahead-focus.component.ts
Labels: component: typeahead, type: tests

#2793 test(tooltip): add e2e tests for autoClose
  e2e-app/e2e/src/tooltip/tooltip-autoclose.e2e-spec.ts
  e2e-app/e2e/src/tooltip/tooltip-autoclose.po.ts
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/tooltip/autoclose/tooltip-autoclose.component.html
  e2e-app/src/app/tooltip/autoclose/tooltip-autoclose.component.ts
Labels: component: tooltip, type: tests

#2797 chore: add navigation to e2e tests to simplify resetting
  e2e-app/e2e/src/datepicker/datepicker-autoclose.e2e-spec.ts
  e2e-app/e2e/src/datepicker/datepicker-autoclose.po.ts
  e2e-app/e2e/src/datepicker/datepicker-focus.e2e-spec.ts
  e2e-app/e2e/src/datepicker/datepicker-focus.po.ts
  e2e-app/e2e/src/dropdown/dropdown-autoclose.e2e-spec.ts
  e2e-app/e2e/src/dropdown/dropdown-autoclose.po.ts
  e2e-app/e2e/src/modal/modal-focustrap.e2e-spec.ts
  e2e-app/e2e/src/modal/modal-focustrap.po.ts
  e2e-app/e2e/src/popover/popover-autoclose.e2e-spec.ts
  e2e-app/e2e/src/popover/popover-autoclose.po.ts
  e2e-app/e2e/src/start.e2e-spec.ts
  e2e-app/e2e/src/tools.ts
  e2e-app/e2e/src/tooltip/tooltip-autoclose.e2e-spec.ts
  e2e-app/e2e/src/tooltip/tooltip-autoclose.po.ts
  e2e-app/e2e/src/typeahead/typeahead-focus.e2e-spec.ts
  e2e-app/e2e/src/typeahead/typeahead.po.ts
  e2e-app/src/app/app.component.ts
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/datepicker/autoclose/datepicker-autoclose.component.html
  e2e-app/src/app/datepicker/autoclose/datepicker-autoclose.component.ts
  e2e-app/src/app/datepicker/focus/datepicker-focus.component.html
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.component.html
  e2e-app/src/app/modal/focustrap/modal-focustrap.component.ts
  e2e-app/src/app/navigation.component.ts
  e2e-app/src/app/popover/autoclose/popover-autoclose.component.html
  e2e-app/src/app/tooltip/autoclose/tooltip-autoclose.component.html
  e2e-app/src/app/typeahead/focus/typeahead-focus.component.ts
Labels: type: tests

#2800 test(modal): add e2e tests for modal focus
  e2e-app/e2e/src/modal/modal-focus.e2e-spec.ts
  e2e-app/e2e/src/modal/modal-focus.po.ts
  e2e-app/e2e/src/modal/modal-focustrap.e2e-spec.ts
  e2e-app/e2e/src/modal/modal-focustrap.po.ts
  e2e-app/e2e/src/tools.ts
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/modal/focus/modal-focus.component.html
  e2e-app/src/app/modal/focus/modal-focus.component.ts
  e2e-app/src/app/modal/focustrap/modal-focustrap.component.html
  e2e-app/src/app/modal/focustrap/modal-focustrap.component.ts
Labels: component: modal, type: tests

#2802 test(datepicker): re-focus current date after inside click
  e2e-app/e2e/src/datepicker/datepicker-focus.e2e-spec.ts
  e2e-app/e2e/src/datepicker/datepicker.po.ts
Labels: component: datepicker, type: tests

#2803 chore: use latest Safari 12 and Edge 17 for testing
  src/karma.sauce.conf.js
Labels: type: build

#2807 fix(modal): focus stays trapped with Shift+Tab
  e2e-app/e2e/src/modal/modal-focus.e2e-spec.ts
  src/util/focus-trap.ts
Labels: component: modal, type: bug

#2805 feat(typeahead): fix focus on item click
  e2e-app/e2e/src/typeahead/typeahead-focus.e2e-spec.ts
  src/typeahead/typeahead.ts
Labels: component: typeahead, needs: review
