Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2018-06, with the labels that each got.

#2430 chore: make safari versions less restrictive for sauce labs
  karma.conf.js
Labels: type: build

#2419 fix(datepicker): simplify focus trap with observables
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
  src/datepicker/datepicker.module.ts
  src/util/focus-trap.spec.ts
  src/util/focus-trap.ts
Labels: component: datepicker

#2421 refactor(datepicker): move 'outsideDays' generation to the service
  demo/src/app/components/datepicker/demos/multiple/datepicker-multiple.html
  demo/src/app/components/datepicker/demos/multiple/datepicker-multiple.ts
  src/datepicker/datepicker-month-view.spec.ts
  src/datepicker/datepicker-month-view.ts
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-service.ts
  src/datepicker/datepicker-tools.ts
  src/datepicker/datepicker-view-model.ts
  src/datepicker/datepicker.spec.ts
  src/datepicker/datepicker.ts
Labels: component: datepicker

#2453 docs: update minimal required Angular version
  README.md
  demo/src/app/getting-started/getting-started.component.html
Labels: type: doc

#2452 fix(datepicker): empty month select box when displayMonths > 1
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-service.ts
Labels: component: datepicker

#2448 fix(demo): carousel displays images in full width on large screens
  demo/src/style/app.scss
Labels: type: demo

#2462 fix(datepicker): ExpressionChangedAfterItHasBeenCheckedError
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-tools.spec.ts
  src/datepicker/datepicker-tools.ts
  src/datepicker/datepicker.spec.ts
Labels: component: datepicker

#2049 feat(modal): opened aria attribute aria-labelledby for accessibility
  demo/src/app/components/modal/demos/basic/modal-basic.html
  demo/src/app/components/modal/demos/basic/modal-basic.ts
  src/modal/modal-stack.ts
  src/modal/modal-window.ts
  src/modal/modal.spec.ts
  src/modal/modal.ts
Labels: component: modal, type: accessibility
