Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2018-04, with the labels that each got.

#2263 refactor(datepicker): simplify first view date calculation
  src/datepicker/datepicker-tools.spec.ts
  src/datepicker/datepicker-tools.ts
Labels: component: datepicker

#2265 refactor(datepicker): cleanup service and tools
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-service.ts
  src/datepicker/datepicker-tools.spec.ts
  src/datepicker/datepicker-tools.ts
  src/datepicker/datepicker.spec.ts
  src/datepicker/datepicker.ts
Labels: component: datepicker

#2277 demo: display 'since' for new directives, classes, services, etc.
  demo/src/app/components/shared/api-docs/api-docs-badge.component.ts
  demo/src/app/components/shared/api-docs/api-docs-class.component.html
  demo/src/app/components/shared/api-docs/api-docs-config.component.html
  demo/src/app/components/shared/api-docs/api-docs.component.html
Labels: needs: merging, type: demo site

#2270 feat(datepicker): keyboard navigation for accessibility
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
  src/datepicker/datepicker-month-view.spec.ts
  src/datepicker/datepicker-month-view.ts
  src/datepicker/datepicker-navigation-select.ts
  src/datepicker/datepicker-navigation.ts
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-service.ts
  src/datepicker/datepicker-tools.ts
  src/datepicker/datepicker-view-model.ts
  src/datepicker/datepicker.spec.ts
  src/datepicker/datepicker.ts
Labels: breaking change, component: datepicker, needs: merging, type: accessibility, type: feature

#2307 fix(accordion): remove active class from open panel titles
  src/accordion/accordion.spec.ts
  src/accordion/accordion.ts
Labels: breaking change, component: accordion

#2311 chore: bump up Angular dependency to 6.0.0-rc.4
  package.json
  yarn.lock
Labels: type: build

#2332 feat(datepicker): focustrap for popup datepickers
  src/datepicker/datepicker-input.ts
  src/datepicker/datepicker.module.ts
Labels: component: datepicker, type: accessibility, type: feature

#2197 feat(typeahead): accessibility, options summary status message
  src/typeahead/typeahead.module.ts
  src/typeahead/typeahead.spec.ts
  src/typeahead/typeahead.ts
  src/util/accessibility/live.spec.ts
  src/util/accessibility/live.ts
Labels: component: typeahead, type: accessibility, type: feature
