Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2018-11, with the labels that each got.

#2818 fix(datepicker): visual focus on arrows for ie
  src/datepicker/datepicker-navigation.scss
Labels: component: datepicker, needs: review

#2867 feat(test): disable extensions for TDD
  src/karma.conf.js
Labels: needs: merging, type: tests

#2888 fix(focustrap): discarding tabindex='-1' when finding element
  src/modal/modal.spec.ts
  src/util/focus-trap.ts
Labels: component: modal, needs: merging

#2882 chore(test): move e2e specs to their corresponding e2e-app folders
  angular.json
  e2e-app/protractor.conf.js
  e2e-app/src/app/datepicker/autoclose/datepicker-autoclose.e2e-spec.ts
  e2e-app/src/app/datepicker/autoclose/datepicker-autoclose.po.ts
  e2e-app/src/app/datepicker/datepicker.po.ts
  e2e-app/src/app/datepicker/focus/datepicker-focus.e2e-spec.ts
  e2e-app/src/app/datepicker/focus/datepicker-focus.po.ts
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.e2e-spec.ts
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.po.ts
  e2e-app/src/app/modal/focus/modal-focus.e2e-spec.ts
  e2e-app/src/app/modal/focus/modal-focus.po.ts
  e2e-app/src/app/popover/autoclose/popover-autoclose.e2e-spec.ts
  e2e-app/src/app/popover/autoclose/popover-autoclose.po.ts
  e2e-app/src/app/start.e2e-spec.ts
  e2e-app/src/app/tools.po.ts
  e2e-app/src/app/tooltip/autoclose/tooltip-autoclose.e2e-spec.ts
  e2e-app/src/app/tooltip/autoclose/tooltip-autoclose.po.ts
  e2e-app/src/app/typeahead/focus/typeahead-focus.e2e-spec.ts
  e2e-app/src/app/typeahead/typeahead.po.ts
  e2e-app/tsconfig.spec.json
Labels: needs: merging, type: tests

#2890 fix(modal): 'dimiss' ambiguity in docs
  src/modal/modal-ref.ts
Labels: component: modal, type: doc

#2869 fix(typeahead): prevent dropdown to be reopen after an item click
  e2e-app/src/app/typeahead/focus/typeahead-focus.component.ts
  e2e-app/src/app/typeahead/focus/typeahead-focus.e2e-spec.ts
  src/typeahead/typeahead-window.ts
  src/typeahead/typeahead.ts
Labels: component: typeahead, needs: merging
