Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2019-10, with the labels that each got.

#3367 componentInstance is undefined if _contentRef is null
  src/modal/modal-ref.ts
  src/modal/modal.spec.ts
Labels: component: modal

#3266 demo(typeahead): demo for editable=false
  demo/src/app/components/typeahead/demos/prevent-manual-entry/typeahead-prevent-manual-entry.html
  demo/src/app/components/typeahead/demos/prevent-manual-entry/typeahead-prevent-manual-entry.module.ts
  demo/src/app/components/typeahead/demos/prevent-manual-entry/typeahead-prevent-manual-entry.ts
  demo/src/app/components/typeahead/typeahead.module.ts
Labels: component: typeahead, needs: merging, type: demo

#3393 docs(progressbar): extend documentation for types
  demo/src/app/components/progressbar/demos/basic/progressbar-basic.html
  demo/src/app/components/progressbar/demos/config/progressbar-config.html
  src/progressbar/progressbar-config.spec.ts
  src/progressbar/progressbar.spec.ts
  src/progressbar/progressbar.ts
Labels: component: progressbar, needs: review, type: demo, type: doc

#3267 fix(typeahead): for editable false clear the value on input change
  src/typeahead/typeahead.spec.ts
  src/typeahead/typeahead.ts
Labels: component: typeahead, needs: merging

#3395 demo: provide a scrollbar on the sidebar for short height
  demo/src/style/app.scss
Labels: type: demo site

#3397 docs(progressbar): fix typos
  src/progressbar/progressbar.ts
Labels: component: progressbar, type: doc

#3355 Calendar get prev get next focus on same day instead of first
  e2e-app/src/app/datepicker/focus/datepicker-focus.e2e-spec.ts
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-tools.ts
  src/datepicker/datepicker.spec.ts
  src/datepicker/ngb-calendar.spec.ts
  src/datepicker/ngb-calendar.ts
Labels: component: datepicker, needs: merging

#3357 fix(datepicker): performance issues when huge min/max dates
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-tools.spec.ts
  src/datepicker/datepicker-tools.ts
Labels: component: datepicker, needs: review, type: performance

#3399 chore: add demo serve configuration for IE/es5
  angular.json
  demo/tsconfig.ie.json
  package.json
Labels: type: build, type: demo site

#3163 refactor(datepicker): move <select> value binding to lifecycle hook
  src/datepicker/datepicker-navigation-select.ts
Labels: component: datepicker, needs: review

#3377 fix(checkbox): remove autocomplete attribute
  src/buttons/checkbox.spec.ts
  src/buttons/checkbox.ts
Labels: component: buttons, needs: info

#3402 docs(datepicker): add information about datepicker icon (#3306)
  demo/src/app/components/datepicker/demos/popup/datepicker-popup.html
  demo/src/app/components/datepicker/overview/datepicker-overview.component.html
  demo/src/app/components/datepicker/overview/datepicker-overview.component.ts
Labels: component: datepicker, type: doc

#3410 test(ie): local configuration for InternetExplorer
  package.json
  src/karma.conf.js
  yarn.lock
Labels: type: build, type: tests

#3409 test(rating): add missing coverage block
  src/rating/rating.spec.ts
Labels: component: rating, needs: review, type: tests

#3406 fix(modal): add missing fields to `NgbModalConfig`
  src/modal/modal-config.spec.ts
  src/modal/modal-config.ts
Labels: component: modal

#3381 fix(datepicker): retain focus on navigation links
  src/datepicker/datepicker-navigation.spec.ts
  src/datepicker/datepicker-navigation.ts
Labels: component: datepicker

#2815 feat(modal): set strong typing in componentInstance getter property
  src/modal/modal-ref.ts
  src/modal/modal.spec.ts
  src/modal/modal.ts
Labels: component: modal, needs: merging

#3420 fix(popover): propagate 'popoverClass' change correctly
  src/popover/popover.spec.ts
  src/popover/popover.ts
Labels: component: popover

#3429 chore: update webdriver-manager dependency
  yarn.lock
Labels: type: build, type: tests

#3431 test(dropdown): use 'ng-template' instead of 'ng-container'
  e2e-app/src/app/dropdown/focus/dropdown-focus.component.html
Labels: ivy, needs: merging, type: tests

#3419 fix(pagination): don't hide single page number with ellipsis (#1235)
  src/pagination/pagination.spec.ts
  src/pagination/pagination.ts
Labels: component: pagination, needs: review

#3433 chore: minor alignments with cli 8.3
  angular.json
  demo/browserslist
  e2e-app/browserslist
  src/ng-package.prod.json
  ssr-app/browserslist
Labels: type: build, type: demo site

#3432 fix(dropdown): export `NgbNavbar` correctly
  src/dropdown/dropdown.module.ts
  src/index.ts
Labels: component: dropdown, needs: review

#3436 test(datepicker): fix forgotten @Injectable() annotation
  src/datepicker/datepicker-integration.spec.ts
Labels: component: datepicker, needs: merging, type: tests

#3422 fix(modal): keep focus trap between stack modals
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/modal/focus/modal-focus.component.html
  e2e-app/src/app/modal/focus/modal-focus.component.ts
  e2e-app/src/app/modal/focus/modal-focus.e2e-spec.ts
  e2e-app/src/app/modal/stack/modal-stack.component.html
  e2e-app/src/app/modal/stack/modal-stack.component.ts
  e2e-app/src/app/modal/stack/modal-stack.e2e-spec.ts
  e2e-app/src/app/modal/stack/modal-stack.po.ts
  e2e-app/src/app/tools.po.ts
  src/modal/modal-window.ts
  src/modal/modal.spec.ts
Labels: component: modal
