Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2019-02, with the labels that each got.

#2997 fix: add missing exports
  src/dropdown/dropdown.module.ts
  src/index.ts
Labels: component: buttons, component: dropdown

#2972 fix(positioning): use CSS translate for positioning
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/tooltip/position/tooltip-position.component.html
  e2e-app/src/app/tooltip/position/tooltip-position.component.ts
  e2e-app/src/app/tooltip/position/tooltip-position.e2e-spec.ts
  e2e-app/src/app/tooltip/position/tooltip-position.po.ts
  src/datepicker/datepicker-input.ts
  src/dropdown/dropdown-config.spec.ts
  src/dropdown/dropdown-config.ts
  src/popover/popover.spec.ts
  src/popover/popover.ts
  src/tooltip/tooltip.spec.ts
  src/tooltip/tooltip.ts
  src/typeahead/typeahead-config.ts
  src/util/positioning.spec.ts
  src/util/positioning.ts
Labels: component: datepicker, component: dropdown, component: popover, component: tooltip, component: typeahead

#3006 fix(popover): arrow positioning issues
  src/popover/popover.scss
  src/tooltip/tooltip.scss
Labels: component: popover, component: tooltip, needs: merging, type: bug

#3001 fix(timepicker): display correct NgModel value inside OnPush component
  src/timepicker/timepicker.spec.ts
  src/timepicker/timepicker.ts
Labels: component: timepicker, needs: merging, type: bug

#3000 fix(buttons): display correct NgModel value inside OnPush component
  src/buttons/checkbox.spec.ts
  src/buttons/checkbox.ts
  src/buttons/radio.spec.ts
  src/buttons/radio.ts
Labels: component: buttons, needs: merging, type: bug

#3004 fix(autoclose): fix popup automatic closing on touch on iOS
  src/util/autoclose.ts
Labels: component: datepicker, component: dropdown, component: popover, component: tooltip, component: typeahead, type: bug, type: mobile

#3011 refactor(autoclose): transform service into a function to avoid DI
  src/datepicker/datepicker-input.ts
  src/dropdown/dropdown.ts
  src/popover/popover.ts
  src/tooltip/tooltip.ts
  src/typeahead/typeahead.ts
  src/util/autoclose.ts
Labels: needs: review

#2940 feat(datepicker): mark today's date with a custom class
  demo/src/app/components/datepicker/datepicker.module.ts
  demo/src/app/components/datepicker/overview/datepicker-overview.component.html
  demo/src/app/components/datepicker/overview/datepicker-overview.component.ts
  src/datepicker/datepicker-day-template-context.ts
  src/datepicker/datepicker-month-view.spec.ts
  src/datepicker/datepicker-month-view.ts
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-tools.ts
Labels: component: datepicker, needs: merging, type: feature

#3017 fix(positionning): set the first placement as the default one
  src/util/positioning.ts
Labels: component: datepicker, component: dropdown, component: popover, component: tooltip, component: typeahead, needs: merging

#3019 fix(positionning): auto positionning for tooltip and popover
  src/popover/popover-config.spec.ts
  src/popover/popover-config.ts
  src/popover/popover.spec.ts
  src/tooltip/tooltip-config.spec.ts
  src/tooltip/tooltip-config.ts
  src/tooltip/tooltip.spec.ts
Labels: component: popover, component: tooltip, needs: review, type: feature

#2683 feat(dropdown): add keyboard navigation support
  demo/src/app/components/dropdown/demos/basic/dropdown-basic.html
  demo/src/app/components/dropdown/demos/config/dropdown-config.html
  demo/src/app/components/dropdown/demos/form/dropdown-form.html
  demo/src/app/components/dropdown/demos/form/dropdown-form.ts
  demo/src/app/components/dropdown/demos/manual/dropdown-manual.html
  demo/src/app/components/dropdown/demos/split/dropdown-split.html
  demo/src/app/components/dropdown/dropdown.module.ts
  src/dropdown/dropdown.module.ts
  src/dropdown/dropdown.spec.ts
  src/dropdown/dropdown.ts
  src/index.ts
Labels: component: dropdown, needs: merging, type: accessibility, type: feature

#3027 fix(autoclose): browser detection for SSR
  src/util/autoclose.ts
Labels: needs: review, type: bug, type: ssr

#3028 feat(Tooltip): Add trigger "focus" to enhance A11Y
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/tooltip/focus/tooltip-focus.component.html
  e2e-app/src/app/tooltip/focus/tooltip-focus.component.ts
  e2e-app/src/app/tooltip/focus/tooltip-focus.e2e-spec.ts
  e2e-app/src/app/tooltip/focus/tooltip-focus.po.ts
  src/tooltip/tooltip-config.spec.ts
  src/tooltip/tooltip-config.ts
  src/tooltip/tooltip.spec.ts
  src/util/triggers.ts
Labels: component: tooltip, type: accessibility, type: feature

#3034 feat(position): accept placement values with a space separated string
  src/datepicker/datepicker-input.ts
  src/dropdown/dropdown.ts
  src/popover/popover.spec.ts
  src/popover/popover.ts
  src/tooltip/tooltip.spec.ts
  src/tooltip/tooltip.ts
  src/typeahead/typeahead.ts
  src/util/positioning.ts
Labels: component: datepicker, component: dropdown, component: popover, component: tooltip, component: typeahead, needs: review, type: feature

#3035 chore: merge changelog for 4.0.4 into master
  CHANGELOG.md
Labels: needs: merging, type: doc

#2912 feat(timepicker): use arrow keys to increment/decrement values
  src/timepicker/timepicker.spec.ts
  src/timepicker/timepicker.ts
Labels: component: timepicker, needs: merging, type: accessibility, type: feature

#3041 fix(accordion): restore forgotten 'btn btn-link' after refactoring
  src/accordion/accordion.ts
Labels: component: accordion, needs: review, type: bug

#3042 fix(position): wrong placement class applies in some cases
  e2e-app/src/app/tooltip/position/tooltip-position.component.html
  e2e-app/src/app/tooltip/position/tooltip-position.e2e-spec.ts
  src/popover/popover.spec.ts
  src/tooltip/tooltip.spec.ts
  src/util/positioning.ts
Labels: component: popover, needs: merging

#2823 feat(dropdown): enable container="body"
  e2e-app/src/app/app.component.ts
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.component.html
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.component.ts
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.e2e-spec.ts
  e2e-app/src/app/dropdown/dropdown.po.ts
  e2e-app/src/app/dropdown/position/dropdown-position.component.html
  e2e-app/src/app/dropdown/position/dropdown-position.component.ts
  e2e-app/src/app/dropdown/position/dropdown-position.e2e-spec.ts
  e2e-app/src/app/dropdown/position/dropdown-position.po.ts
  e2e-app/src/app/tooltip/position/tooltip-position.component.html
  src/dropdown/dropdown-config.ts
  src/dropdown/dropdown.spec.ts
  src/dropdown/dropdown.ts
Labels: component: dropdown, needs: review
