Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2019-06, with the labels that each got.

#3219 Revert "feat(datepicker): expose validators minDate, maxDate, invalid Date (#3126)"
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
  src/datepicker/datepicker-validators.spec.ts
  src/datepicker/datepicker-validators.ts
  src/datepicker/datepicker.module.ts
  src/index.ts
Labels: component: datepicker, needs: merging

#2909 feat(modal): add scrollable option
  demo/src/app/components/modal/demos/options/modal-options.html
  demo/src/app/components/modal/demos/options/modal-options.ts
  src/modal/modal-config.ts
  src/modal/modal-stack.ts
  src/modal/modal-window.ts
  src/modal/modal.spec.ts
Labels: breaking change, component: modal, needs: merging, type: feature

#3103 feat(toast): Toast implementation
  demo/src/app/app.module.ts
  demo/src/app/app.routing.ts
  demo/src/app/components/toast/demos/closeable/toast-closeable.html
  demo/src/app/components/toast/demos/closeable/toast-closeable.module.ts
  demo/src/app/components/toast/demos/closeable/toast-closeable.ts
  demo/src/app/components/toast/demos/custom-header/toast-custom-header.html
  demo/src/app/components/toast/demos/custom-header/toast-custom-header.module.ts
  demo/src/app/components/toast/demos/custom-header/toast-custom-header.ts
  demo/src/app/components/toast/demos/howto-global/toast-global.component.html
  demo/src/app/components/toast/demos/howto-global/toast-global.component.ts
  demo/src/app/components/toast/demos/howto-global/toast-global.module.ts
  demo/src/app/components/toast/demos/howto-global/toast-service.ts
  demo/src/app/components/toast/demos/howto-global/toasts-container.component.ts
  demo/src/app/components/toast/demos/inline/toast-inline.html
  demo/src/app/components/toast/demos/inline/toast-inline.module.ts
  demo/src/app/components/toast/demos/inline/toast-inline.ts
  demo/src/app/components/toast/overview/toast-overview.component.html
  demo/src/app/components/toast/overview/toast-overview.component.ts
  demo/src/app/components/toast/toast.module.ts
  demo/src/app/shared/icons/icons.component.html
  demo/src/app/shared/icons/icons.component.ts
  demo/src/app/shared/index.ts
  demo/src/app/shared/side-nav/side-nav.component.ts
  demo/src/style/app.scss
  src/index.ts
  src/test/typings/custom-jasmine.d.ts
  src/toast/toast-config.spec.ts
  src/toast/toast-config.ts
  src/toast/toast.module.ts
  src/toast/toast.scss
  src/toast/toast.spec.ts
  src/toast/toast.ts
Labels: breaking change, component: toast, needs: merging, type: feature

#3252 chore: missing 'core-js' for StackBlitz to work.
  misc/generate-stackblitzes.ts
  misc/stackblitzes-templates/polyfills.ts
  package.json
  yarn.lock
Labels: type: bug, type: demo, type: demo site

#3255 docs(toast): missing `@since` annotation.
  src/toast/toast-config.ts
  src/toast/toast.ts
Labels: component: toast, type: demo site, type: doc

#3224 refactor(highlight): simplified the highlight component
  src/typeahead/highlight.ts
Labels: component: typeahead, needs: merging

#3226 test(ngbtime): fix test wording mistake
  src/timepicker/ngb-time.spec.ts
Labels: component: timepicker, needs: merging

#2830 feat(timepicker): use Angular locale data for AM and PM
  demo/src/app/components/timepicker/demos/i18n/timepicker-i18n.html
  demo/src/app/components/timepicker/demos/i18n/timepicker-i18n.module.ts
  demo/src/app/components/timepicker/demos/i18n/timepicker-i18n.ts
  demo/src/app/components/timepicker/timepicker.module.ts
  src/index.ts
  src/timepicker/timepicker-i18n.spec.ts
  src/timepicker/timepicker-i18n.ts
  src/timepicker/timepicker.module.ts
  src/timepicker/timepicker.spec.ts
  src/timepicker/timepicker.ts
Labels: breaking change, component: timepicker, needs: merging, type: feature

#3261 chore(demos): replaces social links buttons with static ones
  demo/src/app/app.component.html
  demo/src/public/index.html
  demo/src/style/app.scss
Labels: type: demo site
