Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2019-04, with the labels that each got.

#3100 demo: improve 'getting-started' page to start adding new similar pages
  demo/src/app/components/shared/fragment/index.ts
  demo/src/app/components/shared/index.ts
  demo/src/app/getting-started/getting-started.component.html
  demo/src/app/shared/fragment/fragment.directive.ts
  demo/src/app/shared/index.ts
  demo/src/app/shared/page-wrapper/page-header.component.ts
  demo/src/app/shared/page-wrapper/page-wrapper.component.html
  demo/src/app/shared/page-wrapper/page-wrapper.component.ts
  demo/src/app/shared/side-nav/side-nav.component.html
  demo/src/style/app.scss
Labels: needs: merging, type: demo site

#3102 chore(demo): updated homepage svg icons
  demo/src/app/app.component.html
  demo/src/app/default/default.component.html
  demo/src/public/img/browser.svg
  demo/src/public/img/cpu.svg
  demo/src/public/img/escalator.svg
  demo/src/public/img/team.svg
  demo/src/public/img/test.svg
  demo/src/public/img/world.svg
  demo/src/style/app.scss
Labels: needs: review, type: demo site

#3106 chore(demo): fix toggle-code buttons alignment
  demo/src/style/app.scss
Labels: needs: merging, type: demo site

#3107 demo: align 'home' link with Bootstrap site
  demo/src/app/app.component.html
  demo/src/app/shared/side-nav/side-nav.component.html
Labels: needs: merging, type: demo site

#3110 chore(demo): fix code tabset layout broken on FF
  demo/src/style/app.scss
Labels: needs: merging, type: demo site

#3127 chore(demo): fixing code tabset styling in IE11
  demo/src/style/app.scss
Labels: browser: IE11, type: demo site

#3072 test: add the Bootstrap css to unit tests
  src/dropdown/dropdown.spec.ts
  src/karma.conf.js
Labels: needs: merging, type: tests

#3155 docs: fix 'Code conventions' link in contribution doc
  CONTRIBUTING.md
Labels: needs: merging, type: doc

#3139 test: refactor tests with triggers (tooltip, popover)
  src/popover/popover.spec.ts
  src/test/common.ts
  src/tooltip/tooltip.spec.ts
Labels: component: popover, component: tooltip, needs: merging, type: tests

#3152 fix(datepicker): access view child from ngAfterViewInit
  src/datepicker/datepicker.ts
Labels: component: datepicker, needs: merging

#3159 chore: check for focused tests in e2e application
  angular.json
  e2e-app/tsconfig.spec.json
Labels: needs: merging, type: build, type: tests

#3157 fix(dropdown): z-index set when appended to body
  src/dropdown/dropdown.ts
Labels: component: dropdown, needs: merging

#3161 fix(datepicker): export NgbDatepickerNavigateEvent correctly
  src/index.ts
Labels: component: datepicker, needs: merging

#3158 fix(datepicker): z-index set when appended to body
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
  src/datepicker/datepicker.scss
Labels: component: datepicker, needs: review

#3162 test(datepicker): add @Injectable() on CustomI18n
  src/datepicker/datepicker-integration.spec.ts
Labels: component: datepicker, type: tests

#3156 refactor(dropdown): add 'NgbDropdown' type when injecting dropdown
  src/dropdown/dropdown.ts
Labels: component: dropdown, needs: merging
