Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2019-11, with the labels that each got.

#3440 feat(datepicker): Add example of datepicker range selection in popup.
  demo/src/app/components/datepicker/datepicker.module.ts
  demo/src/app/components/datepicker/demos/range-popup/datepicker-range-popup.html
  demo/src/app/components/datepicker/demos/range-popup/datepicker-range-popup.module.ts
  demo/src/app/components/datepicker/demos/range-popup/datepicker-range-popup.ts
Labels: component: datepicker, type: demo

#3400 fix(progressbar): display progressbar correctly for invalid max value
  src/progressbar/progressbar.spec.ts
  src/progressbar/progressbar.ts
Labels: component: progressbar, needs: review

#3454 fix(autoclose): fix popup components auto closing in Safari 13
  demo/src/app/components/dropdown/demos/navbar/dropdown-navbar.html
  src/util/autoclose.ts
Labels: component: datepicker, component: dropdown, component: popover, component: tooltip, needs: review, type: mobile

#3455 fix(modal): don't close modal on ESC if file dialog is open
  src/modal/modal-window.spec.ts
  src/modal/modal-window.ts
  src/modal/modal.spec.ts
  src/util/autoclose.ts
Labels: component: modal, needs: review

#3435 fix(focustrap): run focus trap event handlers outside Angular
  src/datepicker/datepicker-input.ts
  src/modal/modal-stack.ts
  src/util/focus-trap.ts
Labels: component: datepicker, component: modal, needs: review, type: performance

#3458 test: fix picsum random link
  demo/src/app/components/carousel/demos/basic/carousel-basic.ts
  demo/src/app/components/carousel/demos/config/carousel-config.ts
  demo/src/app/components/carousel/demos/navigation/carousel-navigation.ts
  demo/src/app/components/carousel/demos/pause/carousel-pause.ts
Labels: needs: work, type: bug, type: demo site, type: tests

#3457 fix(modal): ignore accidental backdrop clicks
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/modal/autoclose/modal-autoclose.component.html
  e2e-app/src/app/modal/autoclose/modal-autoclose.component.ts
  e2e-app/src/app/modal/autoclose/modal-autoclose.e2e-spec.ts
  e2e-app/src/app/modal/autoclose/modal-autoclose.po.ts
  e2e-app/src/app/modal/stack/modal-stack.e2e-spec.ts
  src/modal/modal-window.spec.ts
  src/modal/modal-window.ts
  src/modal/modal.spec.ts
Labels: component: modal, needs: review

#3247 feat(timepicker): input filter to accept only numbers
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/timepicker/filter/timepicker-filter.component.html
  e2e-app/src/app/timepicker/filter/timepicker-filter.component.ts
  e2e-app/src/app/timepicker/filter/timepicker-filter.e2e-spec.ts
  e2e-app/src/app/timepicker/filter/timepicker-filter.po.ts
  src/timepicker/timepicker.ts
Labels: component: timepicker, needs: merging, type: feature

#3394 chore(progressbar): allow to specify progressbar text type
  demo/src/app/components/progressbar/demos/texttypes/progressbar-texttypes.html
  demo/src/app/components/progressbar/demos/texttypes/progressbar-texttypes.module.ts
  demo/src/app/components/progressbar/demos/texttypes/progressbar-texttypes.ts
  demo/src/app/components/progressbar/progressbar.module.ts
  src/progressbar/progressbar-config.spec.ts
  src/progressbar/progressbar-config.ts
  src/progressbar/progressbar.spec.ts
  src/progressbar/progressbar.ts
Labels: component: progressbar, needs: merging, type: feature

#3468 fix(pagination): disallow tab focus on disabled pagination
  src/pagination/pagination.spec.ts
  src/pagination/pagination.ts
Labels: component: pagination, needs: merging

#3469 chore: bump SauceLabs browser versions
  src/karma.sauce.conf.js
Labels: needs: merging, type: build, type: tests

#3470 feat(pagination): `aria-current` attribute support
  src/pagination/pagination.spec.ts
  src/pagination/pagination.ts
Labels: component: pagination, needs: merging, type: accessibility, type: feature

#3471 feat(pagination): add 'aria-disabled' attribute
  src/pagination/pagination.spec.ts
  src/pagination/pagination.ts
Labels: component: pagination, needs: review, type: accessibility, type: feature

#3473 feat(datepicker): correct zindex of month selects
  src/datepicker/datepicker-navigation-select.scss
Labels: component: datepicker

#3476 demo: use `ViewportScroller` to adjust scroll position
  demo/src/app/app.component.ts
  demo/src/app/app.routing.ts
Labels: type: demo site, type: performance

#3474 refactor(pagination): simplify the way disabled links are handled
  src/pagination/pagination.spec.ts
  src/pagination/pagination.ts
Labels: component: pagination, needs: review

#3480 chore: remove a test failing on OSX
  e2e-app/src/app/timepicker/filter/timepicker-filter.e2e-spec.ts
Labels: component: timepicker, type: tests
