Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2019-05, with the labels that each got.

#3129 chore(demo): use Snippet model for ngbd-code
  demo/src/app/components/datepicker/calendars/datepicker-calendars.component.ts
  demo/src/app/components/datepicker/overview/datepicker-overview.component.html
  demo/src/app/components/datepicker/overview/datepicker-overview.component.ts
  demo/src/app/components/pagination/overview/pagination-overview.component.html
  demo/src/app/components/pagination/overview/pagination-overview.component.ts
  demo/src/app/components/shared/examples-page/demo.component.html
  demo/src/app/components/shared/examples-page/demo.component.ts
  demo/src/app/getting-started/getting-started.component.html
  demo/src/app/getting-started/getting-started.component.ts
  demo/src/app/shared/code/code.component.ts
  demo/src/app/shared/code/snippet.ts
Labels: needs: review, type: demo site

#3173 fix(datepicker): don't change month content if navigation is prevented
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-service.ts
  src/datepicker/datepicker.spec.ts
  src/datepicker/datepicker.ts
Labels: component: datepicker, type: bug

#3175 chore: use es2015 lib version in tsconfig.json
  demo/tsconfig.json
  tsconfig.json
Labels: type: bug, type: build

#3176 fix(alert): project content before the closing button
  src/alert/alert.spec.ts
  src/alert/alert.ts
Labels: component: alert, needs: review

#3179 fix(datepicker): 'startDate' change was preventing arrow navigation
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-service.ts
  src/datepicker/datepicker-tools.spec.ts
  src/datepicker/datepicker-tools.ts
  src/datepicker/datepicker.spec.ts
  src/datepicker/datepicker.ts
Labels: component: datepicker

#3180 fix(dropdown): close dropdown menu on Enter / Space
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.component.html
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.e2e-spec.ts
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.po.ts
  src/dropdown/dropdown.ts
Labels: component: dropdown, needs: review

#3166 test(rating): removed attribute can be null or undefined
  src/rating/rating.spec.ts
Labels: component: rating, needs: merging

#2053 fix(timepicker): fixing tab navigation & handling keyboard arrows
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/timepicker/navigation/timepicker-navigation.component.html
  e2e-app/src/app/timepicker/navigation/timepicker-navigation.component.ts
  e2e-app/src/app/timepicker/navigation/timepicker-navigation.e2e-spec.ts
  e2e-app/src/app/timepicker/navigation/timepicker-navigation.po.ts
  e2e-app/src/app/tools.po.ts
  src/timepicker/timepicker.spec.ts
  src/timepicker/timepicker.ts
Labels: component: timepicker, needs: merging

#3195 chore: upgrade 'gulp' package to be able to use node 10 LTS for builds
  .travis.yml
  package.json
  yarn.lock
Labels: type: build

#3168 refactor(popup): use ApplicationRef to instantiate the template
  src/popover/popover.ts
  src/tooltip/tooltip.ts
  src/typeahead/typeahead.ts
  src/util/popup.ts
Labels: needs: review

#3055 feat(datepicker): add 'closed' event and fire after closing dp window
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
Labels: component: datepicker, needs: merging, type: feature

#3119 feat(datepicker): add positionTarget property
  demo/src/app/components/datepicker/datepicker.module.ts
  demo/src/app/components/datepicker/demos/positiontarget/datepicker-position-target.module.ts
  demo/src/app/components/datepicker/demos/positiontarget/datepicker-positiontarget.html
  demo/src/app/components/datepicker/demos/positiontarget/datepicker-positiontarget.ts
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
Labels: component: datepicker, needs: merging, type: feature

#3167 refactor(timepicker): readOnly is the actual property of <input>
  src/timepicker/timepicker.ts
Labels: component: timepicker, needs: merging

#3118 docs: add positioning overview
  demo/src/app/app.module.ts
  demo/src/app/app.routing.ts
  demo/src/app/getting-started/index.ts
  demo/src/app/pages/getting-started/getting-started.component.html
  demo/src/app/pages/getting-started/getting-started.component.ts
  demo/src/app/pages/positioning/positioning.component.html
  demo/src/app/pages/positioning/positioning.component.ts
  demo/src/app/shared/side-nav/side-nav.component.html
  src/datepicker/datepicker-input.ts
  src/dropdown/dropdown.ts
  src/popover/popover.ts
  src/tooltip/tooltip.ts
  src/typeahead/typeahead.ts
Labels: needs: merging, type: demo site, type: doc

#3209 chore(ci): travis update for xvfb initialisation
  .travis.yml
Labels: needs: review, type: tests

#3210 chore: update project name to allow Github `Used by` feature to work…
  package.json
Labels: needs: merging

#3206 fix(positioning): put the popup in a separate layer
  src/util/positioning.ts
Labels: component: datepicker, component: dropdown, component: popover, component: tooltip, type: performance

#3154 feat(highlight): highlight array of terms instead of just one term
  src/typeahead/highlight.spec.ts
  src/typeahead/highlight.ts
Labels: component: typeahead, type: feature

#3126 feat(datepicker): expose validators minDate, maxDate, invalidDate
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
  src/datepicker/datepicker-validators.spec.ts
  src/datepicker/datepicker-validators.ts
  src/datepicker/datepicker.module.ts
  src/index.ts
Labels: component: datepicker, needs: merging, type: feature
