Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2019-09, with the labels that each got.

#3333 fix(generic): Protractor Webdriver Combatibility
  yarn.lock
Labels: needs: work, type: tests

#3312 fix(demo): wrong tabset link on home page
  demo/src/app/default/default.component.html
Labels: type: demo site

#3308 docs(NgbDropdownItem): Minor typo in summary
  src/dropdown/dropdown.ts
Labels: type: doc

#3343 fix(a11y): make datepicker more accessible
  src/datepicker/datepicker-month-view.ts
Labels: component: datepicker, needs: review

#3314 feat(datepicker): place active day above its siblings
  src/datepicker/datepicker-month-view.scss
Labels: component: datepicker, needs: merging

#3344 chore: update dependencies
  .travis.yml
  demo/src/app/components/accordion/accordion.module.ts
  demo/src/app/components/alert/alert.module.ts
  demo/src/app/components/buttons/buttons.module.ts
  demo/src/app/components/carousel/carousel.module.ts
  demo/src/app/components/collapse/collapse.module.ts
  demo/src/app/components/datepicker/calendars/datepicker-calendars.component.ts
  demo/src/app/components/datepicker/datepicker.module.ts
  demo/src/app/components/dropdown/dropdown.module.ts
  demo/src/app/components/modal/modal.module.ts
  demo/src/app/components/pagination/pagination.module.ts
  demo/src/app/components/popover/popover.module.ts
  demo/src/app/components/progressbar/progressbar.module.ts
  demo/src/app/components/rating/rating.module.ts
  demo/src/app/components/table/table.module.ts
  demo/src/app/components/tabset/tabset.module.ts
  demo/src/app/components/timepicker/timepicker.module.ts
  demo/src/app/components/toast/toast.module.ts
  demo/src/app/components/tooltip/tooltip.module.ts
  demo/src/app/components/typeahead/typeahead.module.ts
  gulpfile.js
  misc/check-format.ts
  package.json
  yarn.lock
Labels: needs: merging, type: build

#3351 fix(datepicker): remove hardcoded bg-light
  src/datepicker/datepicker-month-view.scss
  src/datepicker/datepicker-month-view.ts
  src/datepicker/datepicker.scss
Labels: component: datepicker, needs: merging

#3362 test: introduce e2e tests for the demo site
  angular.json
  demo/protractor.conf.js
  demo/src/app/components/components.e2e-spec.ts
  demo/src/app/tools.po.ts
  demo/tsconfig.spec.json
  package.json
Labels: type: demo site, type: tests

#3364 chore: update marked dependencies
  package.json
  yarn.lock
Labels: type: demo site

#3375 demo(toast): fix broken stackblitz url for global demo
  demo/src/app/components/toast/toast.module.ts
Labels: type: demo

#3371 fix(datepicker): restore focus after closing popup
  e2e-app/src/app/datepicker/focus/datepicker-focus.e2e-spec.ts
  src/datepicker/datepicker-input.ts
Labels: component: datepicker

#3384 fix(modal): don't close popup on ESC when closing nested components
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/datepicker/datepicker.po.ts
  e2e-app/src/app/modal/nesting/modal-nesting.component.html
  e2e-app/src/app/modal/nesting/modal-nesting.component.ts
  e2e-app/src/app/modal/nesting/modal-nesting.e2e-spec.ts
  e2e-app/src/app/modal/nesting/modal-nesting.po.ts
  e2e-app/src/app/tools.po.ts
  src/modal/modal-window.spec.ts
  src/modal/modal-window.ts
  src/modal/modal.spec.ts
  src/util/autoclose.ts
Labels: component: datepicker, component: modal, needs: review
