Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2019-01, with the labels that each got.

#2941 docs(datepicker): add 'minDate' to demo in overview
  demo/src/app/components/datepicker/overview/demo/datepicker-overview-demo.component.ts
Labels: component: datepicker, needs: merging, type: doc

#2935 chore: e2e test coverage
  .gitignore
  .travis.yml
  angular.json
  e2e-app/coverage.webpack.js
  e2e-app/protractor.conf.js
  package.json
  yarn.lock
Labels: needs: merging, type: tests

#2960 test: remove duplicated unit tests
  src/datepicker/datepicker-input.spec.ts
  src/dropdown/dropdown.spec.ts
  src/popover/popover.spec.ts
  src/tooltip/tooltip.spec.ts
Labels: type: tests

#2961 chore: make total unit test count refect reality
  src/datepicker/hijri/ngb-calendar-islamic-civil.spec.ts
  src/datepicker/hijri/ngb-calendar-islamic-umalqura.spec.ts
Labels: needs: merging, type: tests

#2973 test(typeahead): e2e tests for typeahead autoclose
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/typeahead/autoclose/typeahead-autoclose.component.html
  e2e-app/src/app/typeahead/autoclose/typeahead-autoclose.component.ts
  e2e-app/src/app/typeahead/autoclose/typeahead-autoclose.e2e-spec.ts
  e2e-app/src/app/typeahead/autoclose/typeahead-autoclose.po.ts
  e2e-app/src/app/typeahead/focus/typeahead-focus.e2e-spec.ts
  e2e-app/src/app/typeahead/typeahead.po.ts
Labels: component: typeahead, type: tests

#2965 fix(modal): add missing 'aria-modal' and 'aria-hidden' attributes
  src/modal/modal-stack.ts
  src/modal/modal-window.ts
  src/modal/modal.spec.ts
Labels: component: modal, type: accessibility, type: bug

#2982 fix(datepicker): update model correctly with updateOn: 'blur'
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
Labels: component: datepicker, needs: merging

#2994 refactor(rating): split the @Input and @ContentChild annotations
  src/rating/rating.ts
Labels: component: rating
