Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2019-07, with the labels that each got.

#3272 fix(demo): direct link to specific carousel sample not working
  demo/src/app/components/carousel/demos/basic/carousel-basic.html
  demo/src/app/components/carousel/demos/config/carousel-config.html
  demo/src/app/components/carousel/demos/navigation/carousel-navigation.html
  demo/src/style/demos.css
Labels: needs: merging, type: demo site

#3265 docs(table): fixed search for complete example
  demo/src/app/components/table/demos/complete/country.service.ts
Labels: type: demo, type: doc

#3282 fix(stackblitz): fixed version for prismjs
  package.json
  yarn.lock
Labels: type: build, type: demo site

#3270 fix(dropdown): remove x-placement inside a navbar
  src/dropdown/dropdown.spec.ts
  src/dropdown/dropdown.ts
Labels: component: dropdown, needs: merging

#3256 fix(datepicker): NgbCalendarIslamicUmalqura.fromGregorian with date in the afternoon
  src/datepicker/hijri/ngb-calendar-islamic-umalqura.spec.ts
  src/datepicker/hijri/ngb-calendar-islamic-umalqura.ts
Labels: component: datepicker, needs: merging

#3283 fix(toast): proper handling of `autohide` toggling
  demo/src/app/components/toast/demos/prevent-autohide/toast-prevent-autohide.html
  demo/src/app/components/toast/demos/prevent-autohide/toast-prevent-autohide.module.ts
  demo/src/app/components/toast/demos/prevent-autohide/toast-prevent-autohide.ts
  demo/src/app/components/toast/toast.module.ts
  src/toast/toast.spec.ts
  src/toast/toast.ts
Labels: component: toast, needs: review

#3263 fix(dropdown): allow template directive on the menu
  e2e-app/src/app/dropdown/position/dropdown-position.component.html
  e2e-app/src/app/dropdown/position/dropdown-position.e2e-spec.ts
  src/dropdown/dropdown.spec.ts
  src/dropdown/dropdown.ts
Labels: component: dropdown, needs: rebasing

#3248 feat(datepicker): ease the styling of datepicker
  src/datepicker/datepicker.scss
  src/datepicker/datepicker.ts
Labels: component: datepicker, needs: merging

#3286 fix(modal): component based content was not scrollable
  src/modal/modal-stack.ts
  src/modal/modal-window.ts
  src/modal/modal.scss
  src/modal/modal.spec.ts
Labels: component: modal, needs: review

#3225 feat(carousel): stay paused after calling `pause()` until `cycle()` is called
  demo/src/app/components/carousel/carousel.module.ts
  demo/src/app/components/carousel/demos/pause/carousel-pause.html
  demo/src/app/components/carousel/demos/pause/carousel-pause.module.ts
  demo/src/app/components/carousel/demos/pause/carousel-pause.ts
  src/carousel/carousel.module.ts
  src/carousel/carousel.spec.ts
  src/carousel/carousel.ts
  src/index.ts
Labels: component: carousel, needs: work
