Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2019-12, with the labels that each got.

#3497 docs(typeahead): refine http example inline layout
  demo/src/app/components/typeahead/demos/http/typeahead-http.html
  demo/src/app/components/typeahead/demos/http/typeahead-http.ts
Labels: component: typeahead, type: demo

#3451 demo(datepicker): Ammended datepicker adapter example to include cust…
  demo/src/app/components/datepicker/datepicker.module.ts
  demo/src/app/components/datepicker/demos/adapter/datepicker-adapter.html
  demo/src/app/components/datepicker/demos/adapter/datepicker-adapter.ts
  demo/src/app/components/datepicker/overview/datepicker-overview.component.html
Labels: component: datepicker, needs: review, type: demo

#3493 chore: add strict unused imports/variables check at TS level
  demo/src/app/components/alert/demos/closeable/alert-closeable.ts
  demo/src/app/components/components.e2e-spec.ts
  demo/src/app/components/pagination/demos/disabled/pagination-disabled.ts
  e2e-app/src/app/datepicker/focus/datepicker-focus.e2e-spec.ts
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.component.ts
  e2e-app/src/app/dropdown/position/dropdown-position.e2e-spec.ts
  e2e-app/src/app/typeahead/validation/typeahead-validation.e2e-spec.ts
  misc/check-ts.ts
  package.json
  src/buttons/radio.spec.ts
  src/datepicker/datepicker-input.ts
  src/datepicker/datepicker-month-view.spec.ts
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-service.ts
  src/datepicker/datepicker.spec.ts
  src/datepicker/datepicker.ts
  src/dropdown/dropdown.spec.ts
  src/popover/popover.spec.ts
  src/popover/popover.ts
  src/tooltip/tooltip.spec.ts
  src/tooltip/tooltip.ts
  src/typeahead/typeahead-window.spec.ts
  src/typeahead/typeahead.spec.ts
  src/typeahead/typeahead.ts
  src/util/positioning.spec.ts
  yarn.lock
Labels: needs: review, type: build

#3498 fix(modal): fix scrollbar compensation in some scaling situations
  src/util/scrollbar.ts
Labels: component: modal, needs: review

#3426 feat(accordion): use readonly arrays for inputs (#2773)
  src/accordion/accordion.ts
Labels: component: accordion

#3424 feat(datepicker): use readonly arrays for inputs (#2773)
  src/datepicker/hebrew/ngb-calendar-hebrew.ts
  src/datepicker/hijri/ngb-calendar-hijri.ts
  src/datepicker/jalali/ngb-calendar-persian.ts
  src/datepicker/ngb-calendar.ts
Labels: component: datepicker

#3423 feat(typeahead): use readonly arrays for inputs (#2773)
  src/typeahead/highlight.ts
  src/typeahead/typeahead.ts
Labels: component: typeahead

#3520 test(tabset): test oriantation default value
  src/tabset/tabset-config.spec.ts
Labels: component: tab
