Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2020-04, with the labels that each got.

#3665 docs: update installation instructions
  README.md
  demo/src/app/pages/getting-started/getting-started.component.html
  demo/src/app/pages/getting-started/getting-started.component.ts
Labels: needs: merging, type: doc

#3681 build: run StackBlitzes with ivy by default (#3618)
  misc/generate-stackblitzes.ts
  misc/stackblitzes-templates/angular.json
  misc/stackblitzes-templates/polyfills.ts
  misc/stackblitzes-templates/tsconfig.json
Labels: needs: merging, type: build

#3669 Add schematics to `@ng-bootstrap/ng-bootstrap`
  .gitignore
  commitlint.config.js
  misc/check-format.ts
  misc/check-ts.ts
  misc/copy-static-files.ts
  package.json
  schematics/collection.json
  schematics/ng-add/index.spec.ts
  schematics/ng-add/index.ts
  schematics/ng-add/messages.ts
  schematics/ng-add/schema.json
  schematics/ng-add/schema.ts
  schematics/ng-add/setup-project.spec.ts
  schematics/ng-add/setup-project.ts
  schematics/ng-add/steps/add-bootstrap.ts
  schematics/ng-add/steps/add-ngb-module.ts
  schematics/tsconfig.json
  schematics/tslint.json
  schematics/utils/package-config.ts
  schematics/utils/project.ts
  schematics/utils/testing.ts
  src/package.json
  yarn.lock
Labels: type: feature, type: schematics

#3686 fix(datepicker): set min/max dates correctly with custom adapters
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
Labels: component: datepicker, type: bug

#3612 feat(nav): add keyboard interaction according to accessibility support
  src/nav/nav-config.spec.ts
  src/nav/nav-config.ts
  src/nav/nav.spec.ts
  src/nav/nav.ts
Labels: component: nav, needs: merging, type: accessibility, type: feature

#3693 docs: add DEVELOPER.md to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: type: doc

#3691 Update nav.ts
  src/nav/nav.ts
Labels: component: nav, needs: merging

#3695 feat(modal): need aria-describedby on modal container (#3678)
  src/modal/modal-config.spec.ts
  src/modal/modal-config.ts
  src/modal/modal-stack.ts
  src/modal/modal-window.ts
  src/modal/modal.spec.ts
Labels: component: modal, needs: review, type: accessibility, type: feature

#3697 demo: fix wrong stackblitz link in the datepicker example page
  demo/src/app/components/datepicker/datepicker.module.ts
Labels: type: demo, type: demo site

#3706 docs: homepage installation snippet
  demo/src/app/default/default.component.html
  demo/src/app/default/default.component.ts
Labels: type: demo site

#3702 demo: better display of the right menu when the scrollbar is displayed
  demo/src/app/shared/component-wrapper/component-wrapper.component.html
  demo/src/style/app.scss
Labels: needs: merging, type: demo site

#3705 demos: 'See component on bootstrap website' link in sidebar
  demo/src/app/components/accordion/accordion.module.ts
  demo/src/app/components/alert/alert.module.ts
  demo/src/app/components/buttons/buttons.module.ts
  demo/src/app/components/carousel/carousel.module.ts
  demo/src/app/components/collapse/collapse.module.ts
  demo/src/app/components/datepicker/datepicker.module.ts
  demo/src/app/components/dropdown/dropdown.module.ts
  demo/src/app/components/modal/modal.module.ts
  demo/src/app/components/nav/nav.module.ts
  demo/src/app/components/pagination/pagination.module.ts
  demo/src/app/components/popover/popover.module.ts
  demo/src/app/components/progressbar/progressbar.module.ts
  demo/src/app/components/table/table.module.ts
  demo/src/app/components/toast/toast.module.ts
  demo/src/app/components/tooltip/tooltip.module.ts
  demo/src/app/shared/component-wrapper/component-wrapper.component.html
  demo/src/app/shared/component-wrapper/component-wrapper.component.ts
  demo/src/app/shared/icons/icons.component.html
  demo/src/app/shared/icons/icons.component.ts
  demo/src/environments/versions.ts
  package.json
  yarn.lock
Labels: type: demo site
