Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2020-01, with the labels that each got.

#3527 IE11, Edge: This change ensures the arrow icon on selects doesn't disappears on focus
  src/datepicker/datepicker-navigation-select.scss
Labels: component: datepicker, needs: review

#3529 revert: fix(modal): add typing for `modalRef.componentInstance` (#2815)
  src/modal/modal-ref.ts
  src/modal/modal.spec.ts
  src/modal/modal.ts
Labels: component: modal

#3531 fix(modal): prevent modal from closing when using scrollbar
  e2e-app/src/app/modal/autoclose/modal-autoclose.e2e-spec.ts
  e2e-app/src/app/modal/autoclose/modal-autoclose.po.ts
  src/modal/modal-window.ts
Labels: component: modal, needs: merging

#3532 fix(modal): remove key/mouse handlers only when modal is destroyed
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/modal/stack-confirmation/modal-stack-confirmation.component.html
  e2e-app/src/app/modal/stack-confirmation/modal-stack-confirmation.component.ts
  e2e-app/src/app/modal/stack-confirmation/modal-stack-confirmation.e2e-spec.ts
  e2e-app/src/app/modal/stack-confirmation/modal-stack-confirmation.po.ts
  src/modal/modal-window.ts
Labels: component: modal, needs: merging

#3533 test: fix flaky e2e keyboard tests
  e2e-app/src/app/tools.po.ts
Labels: type: tests

#3535 feat: add `ViewEncapsulation.None` to the rest of components
  src/accordion/accordion.ts
  src/carousel/carousel.ts
  src/modal/modal-backdrop.ts
  src/progressbar/progressbar.ts
  src/rating/rating.ts
  src/tabset/tabset.ts
  src/typeahead/typeahead-window.ts
Labels: needs: review, type: feature

#3538 test: fix more flaky modal keyboard tests
  e2e-app/src/app/modal/autoclose/modal-autoclose.e2e-spec.ts
  e2e-app/src/app/modal/focus/modal-focus.e2e-spec.ts
  e2e-app/src/app/modal/stack-confirmation/modal-stack-confirmation.component.html
  e2e-app/src/app/modal/stack-confirmation/modal-stack-confirmation.e2e-spec.ts
  e2e-app/src/app/modal/stack-confirmation/modal-stack-confirmation.po.ts
  e2e-app/src/app/modal/stack/modal-stack.component.html
  e2e-app/src/app/modal/stack/modal-stack.e2e-spec.ts
  e2e-app/src/app/modal/stack/modal-stack.po.ts
Labels: component: modal, type: tests

#3540 feat(datepicker): add 'currentYear' to the day template
  src/datepicker/datepicker-day-template-context.ts
  src/datepicker/datepicker-month-view.spec.ts
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-tools.ts
Labels: component: datepicker, needs: review, type: feature

#3539 feat(datepicker): add 'restoreFocus' input
  src/datepicker/datepicker-input-config.spec.ts
  src/datepicker/datepicker-input-config.ts
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
Labels: component: datepicker, needs: review, type: feature

#3547 fix(datepicker): add additional checks for 'restoreFocus' in IE
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
Labels: browser: IE11, component: modal, needs: review

#3551 test(datepicker): disable more focus-handilng tests in IE10
  src/datepicker/datepicker.spec.ts
Labels: browser: IE, component: datepicker, type: tests

#3550 docs(tabset): add a visual warning to use nav directives
  demo/src/app/components/tabset/tabset-warning.component.ts
  demo/src/app/components/tabset/tabset.module.ts
  demo/src/app/shared/component-wrapper/component-wrapper.component.html
  demo/src/app/shared/component-wrapper/component-wrapper.component.ts
Labels: component: tab, type: doc

#3552 chore: 'since' annotations for 5.2.0
  demo/src/app/components/nav/overview/nav-overview.component.html
  src/datepicker/datepicker-day-template-context.ts
  src/datepicker/datepicker-input-config.ts
  src/datepicker/datepicker-input.ts
  src/datepicker/datepicker-keyboard-service.ts
  src/datepicker/datepicker.ts
  src/nav/nav-config.ts
  src/nav/nav-outlet.ts
  src/nav/nav.ts
  src/progressbar/progressbar.ts
Labels: type: doc

#3554 fix(nav): allow importing 'NgbNavModule' independently
  src/index.ts
Labels: component: nav, needs: merging

#3555 chore: add .DS_Store to .gitignore
  .gitignore
Labels: needs: merging, type: build

#3560 demo(dropdown): manual triggers demo markup fix
  demo/src/app/components/dropdown/demos/manual/dropdown-manual.html
Labels: component: dropdown, type: demo

#3507 fix(datepicker): reflect changes on popover when minDate, maxDate val…
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
Labels: component: datepicker, needs: review

#3549 fix(datepicker): focus on multiple instances (#3494)
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/datepicker/datepicker.po.ts
  e2e-app/src/app/datepicker/multiple/datepicker-multiple.component.html
  e2e-app/src/app/datepicker/multiple/datepicker-multiple.component.ts
  e2e-app/src/app/datepicker/multiple/datepicker-multiple.e2e-spec.ts
  e2e-app/src/app/datepicker/multiple/datepicker-multiple.po.ts
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker.ts
Labels: component: datepicker, needs: merging
