Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2020-11, with the labels that each got.

#3859 modal-ref.ts fix typo
  src/modal/modal-ref.ts
Labels: component: modal, type: doc

#3841 feat(progressbar): simplify template
  demo/src/app/components/progressbar/demos/basic/progressbar-basic.ts
  demo/src/app/components/progressbar/demos/height/progressbar-height.ts
  demo/src/app/components/progressbar/demos/labels/progressbar-labels.ts
  demo/src/app/components/progressbar/demos/showvalue/progressbar-showvalue.ts
  src/progressbar/progressbar.ts
Labels: breaking change, component: progressbar, needs: review

#3887 feat(datepicker): remove deprecated 'select' output
  src/datepicker/datepicker-month.spec.ts
  src/datepicker/datepicker.ts
Labels: breaking change

#3890 test(modal): disable flaky IE animation test
  src/modal/modal.spec.ts
Labels: browser: IE, component: modal, type: tests

#3888 build: bump dependencies to NG 10.2 and TS 4.0
  package.json
  yarn.lock
Labels: type: build

#3891 test: don't use deprecated 'async' function
  src/alert/alert.spec.ts
  src/buttons/radio.spec.ts
  src/datepicker/datepicker.spec.ts
  src/modal/modal.spec.ts
  src/rating/rating.spec.ts
  src/timepicker/timepicker.spec.ts
  src/toast/toast.spec.ts
  src/typeahead/typeahead.spec.ts
Labels: type: tests

#3894 fix(nav): correctly work with conditional nav items
  src/nav/nav-outlet.ts
  src/nav/nav.spec.ts
  src/nav/nav.ts
Labels: component: nav, needs: review, type: bug
