Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2020-12, with the labels that each got.

#3916 test(typeahead): fix test failing in FF 83
  src/typeahead/typeahead.spec.ts
Labels: browser: firefox, component: typeahead, type: tests

#3914 refactor: inline providers with forwardRef()
  src/buttons/checkbox.ts
  src/buttons/radio.ts
  src/datepicker/datepicker-input.ts
  src/datepicker/datepicker-month.spec.ts
  src/datepicker/datepicker.ts
  src/rating/rating.ts
  src/timepicker/timepicker.ts
  src/typeahead/typeahead.ts
Labels: needs: merging, type: build, type: performance

#3885 Update popover-triggers.html
  demo/src/app/components/popover/demos/triggers/popover-triggers.html
Labels: component: popover, needs: merging, type: demo, type: doc
