Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2020-06, with the labels that each got.

#3756 fix(alert): add .fade class only with animations on
  src/alert/alert.spec.ts
  src/alert/alert.ts
Labels: component: alert, needs: review, type: animation

#3625 fix(dropdown): close dropdown when focus leaves menu
  e2e-app/src/app/dropdown/focus/dropdown-focus.e2e-spec.ts
  src/dropdown/dropdown.ts
Labels: component: dropdown

#3764 demo: removed unnecessary semver dep
  demo/src/environments/versions.ts
  package.json
  yarn.lock
Labels: browser: IE, type: demo site

#3769 demo: showing title fragment navigation links when focused
  demo/src/style/app.scss
Labels: type: demo site

#3781 fix(animations): pass transition context with animation disabled
  src/util/transition/ngbTransition.spec.ts
  src/util/transition/ngbTransition.ts
Labels: needs: review, type: animation, type: bug

#3793 feat(animations): refactor ngbTransition
  src/collapse/collapse.spec.ts
  src/collapse/collapse.ts
  src/util/transition/ngbTransition.ts
Labels: needs: merging, type: animation, type: feature

#3771 feat(modal): add scale animation when static backdrop is clicked
  src/modal/modal-window.ts
  src/modal/modal.spec.ts
Labels: component: modal, type: animation, type: feature
