Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2020-07, with the labels that each got.

#3777 refactor(progressbar): use PercentPipe by default (#3700)
  src/progressbar/progressbar.ts
Labels: component: progressbar

#3790 build: updated Angular to v10
  demo/.browserslistrc
  demo/protractor.conf.js
  demo/src/app/app.routing.ts
  demo/tsconfig.json
  demo/tsconfig.spec.json
  e2e-app/.browserslistrc
  e2e-app/protractor.conf.js
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/datepicker/multiple/datepicker-multiple.e2e-spec.ts
  e2e-app/src/app/modal/autoclose/modal-autoclose.e2e-spec.ts
  e2e-app/src/app/modal/autoclose/modal-autoclose.po.ts
  e2e-app/src/app/modal/focus/modal-focus.po.ts
  e2e-app/src/app/modal/nesting/modal-nesting.e2e-spec.ts
  e2e-app/src/app/modal/nesting/modal-nesting.po.ts
  e2e-app/src/app/tooltip/position/tooltip-position.e2e-spec.ts
  e2e-app/src/app/typeahead/focus/typeahead-focus.e2e-spec.ts
  e2e-app/tsconfig.json
  e2e-app/tsconfig.spec.json
  package.json
  schematics/ng-add/setup-project.spec.ts
  src/.browserslistrc
  src/karma.conf.js
  src/package.json
  src/tsconfig.json
  src/tsconfig.spec.json
  ssr-app/.browserslistrc
  ssr-app/protractor.conf.js
  ssr-app/tsconfig.json
  ssr-app/tsconfig.server.json
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Labels: breaking change, needs: merging, needs: work, type: build

#3797 build: updated Bootstrap to v4.5.0
  package.json
  yarn.lock
Labels: breaking change, needs: merging, type: build

#3650 feat(modal): get all the open modal instances using the NgbModal (#3627)
  demo/src/app/components/modal/demos/stacked/modal-stacked.html
  demo/src/app/components/modal/demos/stacked/modal-stacked.ts
  src/modal/modal-stack.ts
  src/modal/modal.spec.ts
  src/modal/modal.ts
Labels: needs: design, needs: review

#3799 fix(demo): correctly sort when property is number
  demo/src/app/components/table/demos/complete/country.service.ts
  demo/src/app/components/table/demos/sortable/table-sortable.ts
Labels: type: demo

#3800 fix(demo): remove cursor, add tabindex on navbar dropdown toggles
  demo/src/app/components/dropdown/demos/navbar/dropdown-navbar.html
  demo/src/style/app.scss
Labels: type: demo

#3791 fix(dropdown): container body keyboard navigation
  e2e-app/src/app/dropdown/focus/dropdown-focus.e2e-spec.ts
  src/dropdown/dropdown.ts
  src/util/autoclose.ts
  src/util/focus-trap.ts
Labels: component: dropdown, needs: merging

#3786 fix(dropdown): support closest for HTMLDocument (#3783)
  src/util/util.spec.ts
  src/util/util.ts
Labels: component: dropdown, needs: merging

#3339 fix(dropdown): remove aria-haspop for accessibility
  src/dropdown/dropdown.spec.ts
  src/dropdown/dropdown.ts
Labels: component: dropdown, needs: review, type: accessibility

#3773 feat(carousel): accessibility
  demo/src/app/components/carousel/demos/pause/carousel-pause.html
  demo/src/app/components/carousel/demos/pause/carousel-pause.ts
  src/carousel/carousel-config.ts
  src/carousel/carousel.spec.ts
  src/carousel/carousel.ts
Labels: component: carousel, needs: merging, type: accessibility
