Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2020-02, with the labels that each got.

#3499 Migration to @commitlint with husky integration
  .huskyrc
  CONTRIBUTING.md
  DEVELOPER.md
  commitlint.config.js
  misc/validate-commit.js
  package.json
  yarn.lock
Labels: needs: merging, type: build

#3559 demos: npm downloads count
  demo/src/app/app.component.html
  demo/src/app/app.component.ts
  demo/src/style/app.scss
Labels: type: demo site

#3573 fix(dropdown): execute user (click) handlers on Enter and Space
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/dropdown/click/dropdown-click.component.ts
  e2e-app/src/app/dropdown/click/dropdown-click.e2e-spec.ts
  e2e-app/src/app/dropdown/click/dropdown-click.po.ts
  src/dropdown/dropdown.ts
Labels: component: dropdown, needs: merging

#3567 fix(nav): don't emit '(navChange)' when 'activeId' is not set initially
  src/nav/nav.spec.ts
  src/nav/nav.ts
Labels: component: nav, needs: merging

#3565 fix(datepicker): handle multiple input changes once
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-service.ts
  src/datepicker/datepicker.spec.ts
  src/datepicker/datepicker.ts
Labels: component: datepicker, needs: merging

#3562 fix(datepicker): handle clicks correctly inside the <label>
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-month-view.ts
Labels: component: datepicker, needs: merging

#3571 fix(nav): allow having falsy values like 0 and 'false' for nav ids
  demo/src/app/components/nav/overview/nav-overview.component.html
  src/nav/nav.spec.ts
  src/nav/nav.ts
Labels: component: nav, needs: merging

#3574 fix(rating): fixed model change by clicking on disabled rating element
  src/rating/rating.spec.ts
  src/rating/rating.ts
Labels: component: rating, needs: merging

#3587 fix(tooltip): prevent autoclose with default triggers on Android
  src/util/autoclose.ts
Labels: component: tooltip, needs: review

#3563 feat(accordion): add custom class on card level
  src/accordion/accordion.spec.ts
  src/accordion/accordion.ts
Labels: component: accordion, needs: merging, type: feature

#3588 fix(accordion): don't generate custom 'undefined' class
  src/accordion/accordion.spec.ts
  src/accordion/accordion.ts
Labels: component: accordion, needs: merging

#3590 ci: add 'demo' type to commit messages
  DEVELOPER.md
  commitlint.config.js
Labels: needs: design, needs: work, type: build

#3585 feat(modal): pass an `HTMLElement` to modal container option (#3584)
  src/modal/modal-config.ts
  src/modal/modal-stack.ts
  src/modal/modal.spec.ts
Labels: component: modal, needs: merging, type: feature

#3589 demo(accordion): add the `[cardClass]` usage example
  demo/src/app/components/accordion/demos/header/accordion-header.html
  demo/src/app/components/accordion/demos/header/accordion-header.ts
Labels: component: accordion, type: demo

#3593 fix(tooltip): prevent autoclose with default triggers on iPadOS 13
  src/util/autoclose.ts
Labels: component: tooltip

#3595 refactor(datepicker): rename 'ngbDatepickerMonths' to 'ngbDatepickerContent'
  demo/src/app/components/datepicker/demos/custommonth/datepicker-custommonth.html
  demo/src/app/components/datepicker/demos/custommonth/datepicker-custommonth.ts
  src/datepicker/datepicker-integration.spec.ts
  src/datepicker/datepicker-month.spec.ts
  src/datepicker/datepicker.module.ts
  src/datepicker/datepicker.ts
  src/index.ts
Labels: component: datepicker

#3594 docs: since annotations for 5.3.0
  src/accordion/accordion.ts
  src/datepicker/datepicker-month.ts
  src/datepicker/datepicker.ts
  src/modal/modal-config.ts
Labels: type: doc

#3596 build: add dependency on Bootstrap 4.4.1
  package.json
  yarn.lock
Labels: type: build

#3597 docs: update minimal supported Angular and Bootstrap versions for v6
  README.md
  demo/src/app/pages/getting-started/getting-started.component.html
  demo/src/app/pages/getting-started/getting-started.component.ts
Labels: type: doc

#3604 Update DEVELOPER.md
  DEVELOPER.md
Labels: type: doc

#3611 docs(datepicker): deprecate '(select)' output
  src/datepicker/datepicker.ts
Labels: component: datepicker, type: doc

#3613 docs: add info about '@angular/localize'
  README.md
  demo/src/app/pages/getting-started/getting-started.component.html
Labels: type: demo site, type: doc

#3610 docs(tabset): deprecate NgbTabset component
  demo/src/app/components/tabset/demos/config/tabset-config.ts
  demo/src/app/components/tabset/demos/preventchange/tabset-preventchange.ts
  demo/src/app/components/tabset/tabset-warning.component.ts
  src/index.ts
  src/tabset/tabset-config.spec.ts
  src/tabset/tabset-config.ts
  src/tabset/tabset.module.ts
  src/tabset/tabset.spec.ts
  src/tabset/tabset.ts
Labels: component: tab, type: doc

#3606 fix(popover): make tooltip and popover work on the same element
  src/popover/popover.spec.ts
  src/util/popup.ts
Labels: component: popover, component: tooltip, needs: review

#3607 fix(datepicker): change min/max date error message
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
Labels: breaking change, component: datepicker, needs: review

#3616 demo(nav): add vertical pills demo
  demo/src/app/components/nav/demos/vertical/nav-vertical.html
  demo/src/app/components/nav/demos/vertical/nav-vertical.module.ts
  demo/src/app/components/nav/demos/vertical/nav-vertical.ts
  demo/src/app/components/nav/nav.module.ts
Labels: component: nav, type: demo

#3623 fix: support 'strictTemplates' flag for public API
  package.json
  src/accordion/accordion.ts
  src/buttons/checkbox.ts
  src/buttons/radio.ts
  src/datepicker/datepicker-input.ts
  src/datepicker/datepicker-navigation-select.ts
  src/datepicker/datepicker.ts
  src/dropdown/dropdown.ts
  src/nav/nav.ts
  src/popover/popover.ts
  src/tabset/tabset.ts
  src/timepicker/timepicker.ts
  src/tooltip/tooltip.ts
  src/tsconfig.json
Labels: needs: review, type: build

#3624 demo: enable 'strictTemplates' flag
  demo/src/app/components/carousel/demos/pause/carousel-pause.html
  demo/src/app/components/datepicker/overview/demo/datepicker-overview-demo.component.ts
  demo/src/app/components/progressbar/demos/config/progressbar-config.html
  demo/src/app/components/progressbar/demos/showvalue/progressbar-showvalue.html
  demo/src/app/components/progressbar/demos/texttypes/progressbar-texttypes.html
  demo/src/app/components/rating/demos/decimal/rating-decimal.html
  demo/src/app/components/typeahead/demos/focus/typeahead-focus.html
  demo/tsconfig.json
Labels: type: build, type: demo site
