Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2020-08, with the labels that each got.

#3822 docs: typo: Out -> Our
  README.md
Labels: type: doc

#3804 feat(carousel): add animations
  src/carousel/carousel-config.spec.ts
  src/carousel/carousel-config.ts
  src/carousel/carousel-transition.ts
  src/carousel/carousel.module.ts
  src/carousel/carousel.spec.ts
  src/carousel/carousel.ts
  src/test/test-styles.css
Labels: component: carousel, needs: merging, type: animation, type: feature

#3766 feat(accordion): add animations
  src/accordion/accordion-config.spec.ts
  src/accordion/accordion-config.ts
  src/accordion/accordion.spec.ts
  src/accordion/accordion.ts
Labels: type: animation, type: feature

#3685 docs: add animations documentation for the beta
  demo/src/app/app.module.ts
  demo/src/app/app.routing.ts
  demo/src/app/pages/animations/animations.component.html
  demo/src/app/pages/animations/animations.component.ts
  demo/src/app/shared/side-nav/side-nav.component.html
Labels: needs: merging, type: animation, type: demo site, type: doc

#3835 docs(pagination): Simpler slice example.
  demo/src/app/components/pagination/overview/pagination-overview.component.ts
Labels: type: demo, type: demo site, type: doc

#3832 docs(datepicker): Add tabIndex = -1 in hidden input
  demo/src/app/components/datepicker/demos/range-popup/datepicker-range-popup.html
Labels: type: demo, type: demo site

#3829 demos: improved UX for sidebar
  demo/src/app/app.component.html
  demo/src/app/app.module.ts
  demo/src/app/app.routing.ts
  demo/src/app/pages/getting-started/getting-started.component.html
  demo/src/app/pages/i18n/i18n.component.html
  demo/src/app/pages/i18n/i18n.component.ts
  demo/src/app/shared/side-nav/side-nav.component.html
  demo/src/style/app.scss
Labels: type: demo site
