Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2020-05, with the labels that each got.

#3715 feat: add global 'NgbConfig'
  angular.json
  src/environment.test.ts
  src/environment.ts
  src/index.ts
  src/ngb-config.ts
Labels: type: animation

#3736 feat(collapse): add 'NgbCollapseConfig'
  src/collapse/collapse-config.spec.ts
  src/collapse/collapse-config.ts
  src/collapse/collapse.module.ts
  src/collapse/collapse.ts
  src/index.ts
Labels: component: collapse, needs: review, type: animation, type: feature

#3737 test(animations): don't test opacity in IE
  src/util/transition/ngbTransition.spec.ts
Labels: browser: IE, type: animation, type: tests

#3744 demo(table): avoid re-creation of array at each change detection
  demo/src/app/components/table/demos/pagination/table-pagination.html
  demo/src/app/components/table/demos/pagination/table-pagination.ts
Labels: needs: review, type: demo
