Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2021-05, with the labels that each got.

#4068 fix(modal): honor modalWindowClass option
  demo/src/app/components/modal/demos/options/modal-options.html
  demo/src/app/components/modal/demos/options/modal-options.ts
  src/modal/modal-stack.ts
  src/modal/modal.spec.ts
Labels: component: modal

#4075 fix(modal): missing detectChanges
  src/modal/modal-stack.ts
  src/modal/modal-window.ts
  src/modal/modal.spec.ts
Labels: component: modal

#3956 fix(timepicker): add ng-touched class on focus
  src/timepicker/timepicker.spec.ts
  src/timepicker/timepicker.ts
Labels: component: timepicker, needs: review

#4071 test: fix e2e headless parameter
  e2e-app/playwright.conf.ts
  misc/playwright.js
Labels: type: tests

#4089 build: bump Node version to 14
  .github/workflows/ci.yml
  DEVELOPER.md
  package.json
Labels: type: build
