Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2021-02, with the labels that each got.

#3986 fix(toast): new css class for btn-close
  demo/src/app/components/toast/demos/custom-header/toast-custom-header.html
  src/toast/toast.spec.ts
  src/toast/toast.ts
Labels: bootstrap 5, component: toast, needs: review

#3983 test(dropdown): migrate e2e tests to Playwright
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.pw-po.ts
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.pw-spec.ts
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.ts
  e2e-app/src/app/dropdown/click/dropdown-click.pw-spec.ts
  e2e-app/src/app/dropdown/dropdown.ts
  e2e-app/src/app/dropdown/focus/dropdown-focus.pw-spec.ts
  e2e-app/src/app/dropdown/position/dropdown-position.component.html
  e2e-app/src/app/dropdown/position/dropdown-position.pw-spec.ts
  e2e-app/src/app/tools.pw-po.ts
Labels: component: dropdown, needs: merging, type: tests

#3987 test(popover): migrate e2e tests to Playwright
  e2e-app/src/app/popover/autoclose/popover-autoclose.pw-spec.ts
Labels: component: popover, needs: merging, type: tests

#3990 test(timepicker): migrate e2e tests to Playwright
  e2e-app/src/app/timepicker/filter/timepicker-filter.component.html
  e2e-app/src/app/timepicker/filter/timepicker-filter.pw-spec.ts
  e2e-app/src/app/timepicker/navigation/timepicker-navigation.component.html
  e2e-app/src/app/timepicker/navigation/timepicker-navigation.pw-spec.ts
  e2e-app/src/app/timepicker/timepicker.ts
  e2e-app/src/app/tools.pw-po.ts
Labels: component: timepicker, type: tests

#3989 test(tooltip): migrate e2e tests to Playwright
  e2e-app/src/app/tooltip/autoclose/tooltip-autoclose.pw-spec.ts
  e2e-app/src/app/tooltip/focus/tooltip-focus.pw-spec.ts
  e2e-app/src/app/tooltip/position/tooltip-position.pw-spec.ts
  e2e-app/src/app/tooltip/tooltip.ts
Labels: component: tooltip, type: tests

#3996 test(typeahead): migrate e2e tests to Playwright
  e2e-app/src/app/typeahead/autoclose/typeahead-autoclose.component.html
  e2e-app/src/app/typeahead/autoclose/typeahead-autoclose.pw-spec.ts
  e2e-app/src/app/typeahead/focus/typeahead-focus.pw-spec.ts
  e2e-app/src/app/typeahead/typeahead.ts
  e2e-app/src/app/typeahead/validation/typeahead-validation.pw-spec.ts
  playwright/controller.ts
Labels: component: typeahead, type: tests

#4005 test: waitForFocus instead of expectFocused
  e2e-app/setup.pw-spec.ts
  e2e-app/src/app/datepicker/focus/datepicker-focus.pw-spec.ts
  e2e-app/src/app/datepicker/multiple/datepicker-multiple.pw-spec.ts
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.pw-spec.ts
  e2e-app/src/app/dropdown/click/dropdown-click.pw-spec.ts
  e2e-app/src/app/dropdown/focus/dropdown-focus.pw-spec.ts
  e2e-app/src/app/timepicker/navigation/timepicker-navigation.pw-spec.ts
  e2e-app/src/app/tools.pw-po.ts
  e2e-app/src/app/typeahead/autoclose/typeahead-autoclose.pw-spec.ts
  e2e-app/src/app/typeahead/focus/typeahead-focus.pw-spec.ts
Labels: type: tests

#4019 test: refactor tools.po.ts
  e2e-app/src/app/datepicker/autoclose/datepicker-autoclose.e2e-spec.ts
  e2e-app/src/app/datepicker/focus/datepicker-focus.e2e-spec.ts
  e2e-app/src/app/datepicker/multiple/datepicker-multiple.e2e-spec.ts
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.e2e-spec.ts
  e2e-app/src/app/dropdown/click/dropdown-click.e2e-spec.ts
  e2e-app/src/app/dropdown/focus/dropdown-focus.e2e-spec.ts
  e2e-app/src/app/modal/autoclose/modal-autoclose.e2e-spec.ts
  e2e-app/src/app/modal/focus/modal-focus.e2e-spec.ts
  e2e-app/src/app/modal/focus/modal-focus.po.ts
  e2e-app/src/app/modal/nesting/modal-nesting.e2e-spec.ts
  e2e-app/src/app/modal/nesting/modal-nesting.po.ts
  e2e-app/src/app/modal/stack-confirmation/modal-stack-confirmation.e2e-spec.ts
  e2e-app/src/app/modal/stack/modal-stack.e2e-spec.ts
  e2e-app/src/app/modal/stack/modal-stack.po.ts
  e2e-app/src/app/popover/autoclose/popover-autoclose.e2e-spec.ts
  e2e-app/src/app/tools.po.ts
  e2e-app/src/app/tooltip/autoclose/tooltip-autoclose.e2e-spec.ts
  e2e-app/src/app/typeahead/autoclose/typeahead-autoclose.e2e-spec.ts
  e2e-app/src/app/typeahead/focus/typeahead-focus.e2e-spec.ts
Labels: type: tests
