Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2021-03, with the labels that each got.

#4016 test: enable console log checks
  angular.json
  e2e-app/setup.e2e-spec.ts
  package.json
Labels: needs: merging

#4015 fix(carousel): fix value of aria-activedescendant attribute
  src/carousel/carousel.spec.ts
  src/carousel/carousel.ts
Labels: component: carousel, needs: merging

#3803 feat(datepicker): datepicker week day format via injection token (#2516)
  demo/src/app/components/datepicker/demos/i18n/datepicker-i18n.ts
  demo/src/app/components/datepicker/demos/islamiccivil/datepicker-islamiccivil.ts
  demo/src/app/components/datepicker/demos/islamicumalqura/datepicker-islamicumalqura.ts
  demo/src/app/components/datepicker/demos/jalali/datepicker-jalali.ts
  demo/src/app/components/datepicker/overview/datepicker-overview.component.ts
  src/datepicker/datepicker-day-view.spec.ts
  src/datepicker/datepicker-i18n.spec.ts
  src/datepicker/datepicker-i18n.ts
  src/datepicker/datepicker-month.ts
  src/datepicker/datepicker-service.spec.ts
  src/datepicker/datepicker-tools.spec.ts
  src/datepicker/datepicker-weekday-format.ts
  src/datepicker/datepicker.module.ts
  src/datepicker/hebrew/datepicker-i18n-hebrew.spec.ts
  src/datepicker/hebrew/datepicker-i18n-hebrew.ts
  src/index.ts
Labels: component: datepicker, type: feature

#4023 feat(datepicker): allow overriding month label correctly
  src/datepicker/datepicker-i18n.ts
  src/datepicker/datepicker-integration.spec.ts
  src/datepicker/datepicker.module.ts
  src/datepicker/datepicker.ts
  src/index.ts
Labels: component: datepicker, type: feature

#4038 fix(typeahead): improve 'ngbTypeahead' typings
  demo/src/app/components/typeahead/demos/basic/typeahead-basic.ts
  demo/src/app/components/typeahead/demos/focus/typeahead-focus.ts
  demo/src/app/components/typeahead/demos/format/typeahead-format.ts
  demo/src/app/components/typeahead/demos/http/typeahead-http.ts
  demo/src/app/components/typeahead/demos/prevent-manual-entry/typeahead-prevent-manual-entry.ts
  demo/src/app/components/typeahead/demos/template/typeahead-template.ts
  src/typeahead/typeahead.spec.ts
  src/typeahead/typeahead.ts
Labels: component: typeahead

#4039 feat(datepicker): allow setting custom popup class
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
Labels: component: datepicker, type: feature

#4041 feat(dropdown): allow setting custom popup class
  src/dropdown/dropdown.spec.ts
  src/dropdown/dropdown.ts
Labels: component: dropdown, type: feature

#4044 fix(collapse): no animations in production mode
  src/util/util.ts
Labels: component: collapse, needs: merging, type: animation

#4043 test: add a minimal CLI test app to the project
  .gitignore
  DEVELOPER.md
  angular.json
  package.json
  test-app/.browserslistrc
  test-app/src/app/app.component.ts
  test-app/src/app/app.module.ts
  test-app/src/environments/environment.prod.ts
  test-app/src/environments/environment.ts
  test-app/src/favicon.ico
  test-app/src/index.html
  test-app/src/main.ts
  test-app/src/polyfills.ts
  test-app/src/styles.css
  test-app/tsconfig.json
Labels: type: tests

#3826 feat(modal): add modalDialogClass to modal-dialog div
  src/modal/modal-config.ts
  src/modal/modal-window.spec.ts
  src/modal/modal-window.ts
Labels: component: modal, needs: review, type: customization, type: feature

#3947 feat(typeahead): allow custom class on window for modal issue
  src/typeahead/typeahead-window.ts
  src/typeahead/typeahead.spec.ts
  src/typeahead/typeahead.ts
Labels: component: typeahead, needs: review, type: customization, type: feature

#3725 demo(modal): improve explanations on entryComponents
  demo/src/app/components/modal/demos/component/modal-component.html
  demo/src/app/components/modal/demos/component/modal-component.module.ts
Labels: component: modal, type: demo, type: doc

#3634 feat(typeahead): option to configure accent sensitivity in highlight
  src/typeahead/highlight.spec.ts
  src/typeahead/highlight.ts
  src/util/util.spec.ts
  src/util/util.ts
Labels: component: typeahead, needs: merging
