Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2021-01, with the labels that each got.

#3909 fix(popover,tooltip): run transaction inside angular zone
  src/util/popup.ts
Labels: component: popover, component: tooltip, needs: review

#3928 test(datepicker): fix the test failing in 2021
  src/datepicker/datepicker.spec.ts
Labels: component: datepicker, needs: merging, type: tests

#3926 demo: removed redundant class 'title-fragment' for api-docs titles
  demo/src/app/components/shared/api-docs/api-docs-class.component.html
  demo/src/app/components/shared/api-docs/api-docs-config.component.html
Labels: needs: merging, type: demo site

#3931 fix(datepicker): improve right arrow css selector
  src/datepicker/datepicker-navigation.scss
Labels: component: datepicker, type: CSS

#3934 fix(nav): work corretly inside components with OnPush
  src/nav/nav-outlet.ts
Labels: component: nav, type: animation

#3937 build: bump sauce connect to 4.6.3
  scripts/sauce_connect_setup.sh
Labels: type: build

#3936 fix(nav): avoid doing double reflow for fade in transition
  src/nav/nav-outlet.ts
  src/nav/nav-transition.ts
  src/nav/nav.spec.ts
Labels: component: nav, type: animation

#3932 fix(carousel): update active class when the content changes
  src/carousel/carousel.spec.ts
  src/carousel/carousel.ts
  src/test/test-styles.css
  src/util/transition/ngbTransition.spec.ts
  src/util/transition/ngbTransition.ts
Labels: component: carousel, needs: merging

#3938 feat: enable css for bootstrap 5
  package.json
  yarn.lock
Labels: type: build

#3940 build: bump protractor deps
  yarn.lock
Labels: needs: merging, type: build

#3939 fix(animations): delegate 'animation' flag to 'NgbConfig'
  demo/src/app/app.routing.ts
  src/accordion/accordion-config.ts
  src/alert/alert-config.ts
  src/carousel/carousel-config.ts
  src/collapse/collapse-config.ts
  src/collapse/collapse.ts
  src/modal/modal-config.ts
  src/modal/modal.ts
  src/nav/nav-config.ts
  src/ngb-config.spec.ts
  src/popover/popover-config.ts
  src/toast/toast-config.ts
  src/tooltip/tooltip-config.ts
Labels: needs: merging, type: animation

#3944 demo: add 'nav' page to e2e test suite
  demo/src/app/components/components.e2e-spec.ts
Labels: type: demo site, type: tests

#3945 docs: bump version requirements for ng-bootstrap 9.0.0
  README.md
  demo/src/app/pages/getting-started/getting-started.component.html
Labels: type: doc

#3946 build(schematics): bump ng-bootstrap version to 9.0.0
  schematics/ng-add/index.ts
Labels: type: build, type: schematics

#3957 fix(animations): make sure 'ngbRunTransition' runs inside the zone
  src/accordion/accordion.ts
  src/alert/alert.ts
  src/carousel/carousel.ts
  src/collapse/collapse.ts
  src/modal/modal-backdrop.ts
  src/modal/modal-window.ts
  src/nav/nav-outlet.ts
  src/popover/popover.spec.ts
  src/toast/toast.ts
  src/tooltip/tooltip.spec.ts
  src/util/popup.ts
  src/util/transition/ngbTransition.spec.ts
  src/util/transition/ngbTransition.ts
  src/util/util.ts
Labels: component: popover, component: tooltip, type: animation

#3962 fix(animations): don't reflow in 'ngbRunTransition'
  src/accordion/accordion.ts
  src/carousel/carousel-transition.ts
  src/collapse/collapse.ts
  src/modal/modal-backdrop.ts
  src/modal/modal-window.ts
  src/nav/nav-transition.ts
  src/toast/toast-transition.ts
  src/util/transition/ngbCollapseTransition.ts
  src/util/transition/ngbTransition.spec.ts
  src/util/transition/ngbTransition.ts
Labels: needs: merging, type: animation

#3964 fix(carousel): respect `[animation]="false"`
  src/carousel/carousel-transition.ts
Labels: component: carousel, needs: review, type: animation

#3966 demo: migrate demo e2e tests to Playwright
  angular.json
  demo/jasmine.json
  demo/playwright.conf.ts
  demo/protractor.conf.js
  demo/src/app/components/components.e2e-spec.ts
  demo/src/app/components/dropdown/demos/form/dropdown-form.html
  demo/src/app/tools.po.ts
  package.json
  playwright/controller.ts
Labels: needs: review, type: demo site, type: tests

#3967 test: migrate ssr-app e2e tests to Playwright
  angular.json
  package.json
  ssr-app/jasmine.json
  ssr-app/playwright.conf.ts
  ssr-app/protractor.conf.js
  ssr-app/src/app/app.e2e-spec.ts
  ssr-app/src/app/app.po.ts
Labels: type: build, type: ssr, type: tests

#3968 test: stabilize e2e navigation with Playwright
  e2e-app/src/app/tools.pw-po.ts
Labels: needs: merging, type: tests

#3971 test: simplify playwright controller
  demo/playwright.conf.ts
  demo/src/app/components/components.e2e-spec.ts
  e2e-app/playwright.conf.ts
  e2e-app/setup.pw-spec.ts
  misc/check-format.ts
  playwright/controller.ts
  ssr-app/playwright.conf.ts
  ssr-app/src/app/app.e2e-spec.ts
Labels: type: tests

#3976 fix(alert): new css class for close button
  src/alert/alert.spec.ts
  src/alert/alert.ts
Labels: bootstrap 5, component: alert, needs: merging

#3982 fix: renamed .sr-only to .visually-hidden
  demo/src/app/shared/component-wrapper/component-wrapper.component.html
  demo/src/app/shared/page-wrapper/page-wrapper.component.html
  src/carousel/carousel.spec.ts
  src/carousel/carousel.ts
  src/pagination/pagination.spec.ts
  src/pagination/pagination.ts
  src/rating/rating.spec.ts
  src/rating/rating.ts
  src/timepicker/timepicker.spec.ts
  src/timepicker/timepicker.ts
  src/util/accessibility/live.ts
Labels: bootstrap 5, needs: merging

#3979 fix: renamed .font-weight- utilities as .fw-
  demo/src/app/components/datepicker/demos/custommonth/datepicker-custommonth.html
  demo/src/app/components/nav/demos/dynamic/nav-dynamic.html
  demo/src/app/components/shared/api-docs/api-docs-class.component.html
  demo/src/app/components/shared/api-docs/api-docs-config.component.html
  demo/src/app/components/shared/api-docs/api-docs.component.html
  demo/src/app/pages/getting-started/getting-started.component.html
Labels: bootstrap 5, needs: merging

#3991 test: refactor Playwright page accessor
  playwright/controller.ts
Labels: needs: merging, type: tests
