Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2022-02, with the labels that each got.

#4256 fix(modal): scrollbar issue with stacked modals
  src/modal/modal-stack.ts
  src/modal/modal.spec.ts
Labels: component: modal, needs: review, type: bug

#4262 build(schematics): clean from rollup config instead of using rimraf
  package.json
  schematics/rollup.config.js
Labels: type: build, type: schematics

#4259 fix(carousel): fix hidden carousel indicators
  src/carousel/carousel.spec.ts
  src/carousel/carousel.ts
Labels: component: carousel, needs: review

#4260 refactor(test): use @playwright/test instead of jasmine
  .github/workflows/ci.yml
  .gitignore
  demo/jasmine.json
  demo/playwright.conf.ts
  demo/playwright.config.ts
  demo/src/app/components/components.e2e-spec.ts
  e2e-app/baseTest.ts
  e2e-app/jasmine.json
  e2e-app/playwright.conf.ts
  e2e-app/playwright.config.ts
  e2e-app/setup.e2e-spec.ts
  e2e-app/src/app/datepicker/autoclose/datepicker-autoclose.e2e-spec.ts
  e2e-app/src/app/datepicker/autoclose/datepicker-autoclose.po.ts
  e2e-app/src/app/datepicker/datepicker.po.ts
  e2e-app/src/app/datepicker/focus/datepicker-focus.e2e-spec.ts
  e2e-app/src/app/datepicker/multiple/datepicker-multiple.e2e-spec.ts
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.e2e-spec.ts
  e2e-app/src/app/dropdown/autoclose/dropdown-autoclose.po.ts
  e2e-app/src/app/dropdown/click/dropdown-click.e2e-spec.ts
  e2e-app/src/app/dropdown/dropdown.po.ts
  e2e-app/src/app/dropdown/focus/dropdown-focus.e2e-spec.ts
  e2e-app/src/app/dropdown/position/dropdown-position.e2e-spec.ts
  e2e-app/src/app/modal/autoclose/modal-autoclose.e2e-spec.ts
  e2e-app/src/app/modal/autoclose/modal-autoclose.po.ts
  e2e-app/src/app/modal/focus/modal-focus.e2e-spec.ts
  e2e-app/src/app/modal/modal.po.ts
  e2e-app/src/app/modal/nesting/modal-nesting.e2e-spec.ts
  e2e-app/src/app/modal/nesting/modal-nesting.po.ts
  e2e-app/src/app/modal/stack-confirmation/modal-stack-confirmation.e2e-spec.ts
  e2e-app/src/app/modal/stack-confirmation/modal-stack-confirmation.po.ts
  e2e-app/src/app/modal/stack/modal-stack.e2e-spec.ts
  e2e-app/src/app/modal/stack/modal-stack.po.ts
  e2e-app/src/app/popover/autoclose/popover-autoclose.e2e-spec.ts
  e2e-app/src/app/timepicker/filter/timepicker-filter.e2e-spec.ts
  e2e-app/src/app/timepicker/navigation/timepicker-navigation.e2e-spec.ts
  e2e-app/src/app/tools.po.ts
  e2e-app/src/app/tooltip/autoclose/tooltip-autoclose.e2e-spec.ts
  e2e-app/src/app/tooltip/focus/tooltip-focus.e2e-spec.ts
  e2e-app/src/app/tooltip/position/tooltip-position.e2e-spec.ts
  e2e-app/src/app/tooltip/tooltip.po.ts
  e2e-app/src/app/typeahead/autoclose/typeahead-autoclose.e2e-spec.ts
  e2e-app/src/app/typeahead/focus/typeahead-focus.e2e-spec.ts
  e2e-app/src/app/typeahead/typeahead.po.ts
  e2e-app/src/app/typeahead/validation/typeahead-validation.e2e-spec.ts
  e2e-app/tsconfig.spec.json
  misc/playwright.js
  package.json
  ssr-app/jasmine.json
  ssr-app/playwright.conf.ts
  ssr-app/playwright.config.ts
  ssr-app/src/app/app.e2e-spec.ts
  yarn.lock
Labels: needs: review, type: tests, type: build
