Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2022-10, with the labels that each got.

#4385 refactor: remove unused tslint.json
  tslint.json
Labels: needs: merging

#4388 fix(collapse): restore previous transition logic
  demo/src/app/components/collapse/demos/horizontal/collapse-horizontal.html
  src/util/transition/ngbCollapseTransition.ts
Labels: component: collapse, needs: review, type: animation

#4171 build: install angular/localize to devDependencies
  schematics/ng-add/index.spec.ts
  schematics/ng-add/index.ts
  schematics/utils/package-config.ts
Labels: needs: merging, type: schematics

#4401 docs(typeahead): fix typo in highlight.ts
  src/typeahead/highlight.ts
Labels: needs: merging, type: doc, component: typeahead

#4400 build: use Node 16 for CI
  .github/workflows/ci.yml
  package.json
Labels: type: build

#4408 demo: use `tab-size: 2` for demo examples after Prettier migration
  demo/src/style/app.scss
Labels: type: demo site

#4410 demo: use `bootstrap-icons` for demos
  angular.json
  demo/src/app/components/datepicker/demos/adapter/datepicker-adapter.html
  demo/src/app/components/datepicker/demos/config/datepicker-config.html
  demo/src/app/components/datepicker/demos/customday/datepicker-customday.html
  demo/src/app/components/datepicker/demos/footertemplate/datepicker-footertemplate.html
  demo/src/app/components/datepicker/demos/multiple/datepicker-multiple.html
  demo/src/app/components/datepicker/demos/popup/datepicker-popup.html
  demo/src/app/components/datepicker/demos/positiontarget/datepicker-positiontarget.html
  demo/src/app/components/datepicker/demos/range-popup/datepicker-range-popup.html
  demo/src/app/components/modal/demos/basic/modal-basic.html
  demo/src/app/components/offcanvas/demos/basic/offcanvas-basic.html
  demo/src/app/components/rating/demos/decimal/rating-decimal.html
  demo/src/app/components/rating/demos/decimal/rating-decimal.ts
  demo/src/app/components/rating/demos/template/rating-template.html
  demo/src/app/components/rating/demos/template/rating-template.ts
  demo/src/style/demos.css
  misc/generate-stackblitzes.ts
  misc/stackblitzes-templates/index.html.ejs
  package.json
  yarn.lock
Labels: type: demo

#4409 fix(typeahead): remove aria-multiline attribute
  src/typeahead/typeahead.spec.ts
  src/typeahead/typeahead.ts
Labels: needs: work, type: accessibility, component: typeahead
