Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2022-08, with the labels that each got.

#4323 feat(positionning): open popperOptions api
  demo/src/app/components/popover/demos/config/popover-config.ts
  src/datepicker/datepicker-input-config.spec.ts
  src/datepicker/datepicker-input-config.ts
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
  src/dropdown/dropdown-config.spec.ts
  src/dropdown/dropdown-config.ts
  src/dropdown/dropdown.spec.ts
  src/dropdown/dropdown.ts
  src/popover/popover-config.spec.ts
  src/popover/popover-config.ts
  src/popover/popover.spec.ts
  src/popover/popover.ts
  src/tooltip/tooltip-config.spec.ts
  src/tooltip/tooltip-config.ts
  src/tooltip/tooltip.spec.ts
  src/tooltip/tooltip.ts
  src/typeahead/typeahead-config.spec.ts
  src/typeahead/typeahead-config.ts
  src/typeahead/typeahead.spec.ts
  src/typeahead/typeahead.ts
  src/util/positioning-util.ts
  src/util/positioning.spec.ts
Labels: needs: merging, type: feature, type: positioning

#4366 fix(offcanvas): changed animations to be like in Bootstrap 5.2.0 JS
  src/offcanvas/offcanvas-panel.ts
  src/offcanvas/offcanvas.spec.ts
Labels: needs: work, type: animation, component: offcanvas

#4367 feat(offcanvas): add static backdrop option
  demo/src/app/components/offcanvas/demos/options/offcanvas-options.html
  demo/src/app/components/offcanvas/demos/options/offcanvas-options.ts
  src/offcanvas/offcanvas-backdrop.spec.ts
  src/offcanvas/offcanvas-backdrop.ts
  src/offcanvas/offcanvas-config.spec.ts
  src/offcanvas/offcanvas-config.ts
  src/offcanvas/offcanvas-stack.ts
  src/offcanvas/offcanvas.spec.ts
Labels: needs: merging, component: offcanvas

#4309 feat(rating): Allow to set tabindex using [tabIndex].
  src/rating/rating-config.spec.ts
  src/rating/rating-config.ts
  src/rating/rating.spec.ts
  src/rating/rating.ts
Labels: needs: merging, type: feature, component: rating

#4335 fix(datepicker): export NgbDateStructAdapter
  src/datepicker/datepicker.module.ts
  src/index.ts
Labels: needs: review, component: datepicker

#4374 fix(collapse): solved running transition twice
  demo/src/app/components/collapse/demos/basic/collapse-basic.html
  src/collapse/collapse.ts
Labels: component: collapse, needs: merging, type: performance

#3980 feat(timepicker): add exportAs property for ngbTimepicker
  src/timepicker/timepicker.spec.ts
  src/timepicker/timepicker.ts
Labels: needs: review, type: feature, component: timepicker
