Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2022-04, with the labels that each got.

#4282 fix(datepicker): ensure popup is shown above modal
  e2e-app/src/app/app.module.ts
  e2e-app/src/app/app.routing.ts
  e2e-app/src/app/datepicker/container/datepicker-container.component.html
  e2e-app/src/app/datepicker/container/datepicker-container.component.ts
  e2e-app/src/app/datepicker/container/datepicker-container.e2e-spec.ts
  e2e-app/src/app/datepicker/container/datepicker-container.po.ts
  src/datepicker/datepicker.scss
Labels: component: datepicker, needs: design, type: CSS

#4092 fix(rating): change in documentation of rateChange
  src/rating/rating.ts
Labels: needs: review, type: doc, component: rating

#4152 test(datepicker): get same date when period is not a NgbPeriod type
  src/datepicker/buddhist/ngb-calendar-buddhist.spec.ts
Labels: needs: merging, type: tests, component: datepicker

#4305 demo(dropdown): add demo with disabled items
  demo/src/app/components/dropdown/demos/disabled/dropdown-disabled.html
  demo/src/app/components/dropdown/demos/disabled/dropdown-disabled.module.ts
  demo/src/app/components/dropdown/demos/disabled/dropdown-disabled.ts
  demo/src/app/components/dropdown/dropdown.module.ts
Labels: component: dropdown, type: demo

#4311 demo(tooltip): fix custom css for tooltip arrow
  demo/src/app/components/tooltip/demos/customclass/tooltip-customclass.ts
Labels: component: tooltip, type: demo

#4315 test(offcanvas): fix animation timings for tests
  src/test/test-styles.css
Labels: type: tests, component: offcanvas
