Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2022-03, with the labels that each got.

#4270 docs(buttons): mark button directives as deprecated
  demo/src/app/components/buttons/buttons-warning.component.ts
  demo/src/app/components/buttons/buttons.module.ts
  demo/src/app/components/buttons/overview/buttons-overview.component.html
  demo/src/app/components/buttons/overview/buttons-overview.component.ts
  src/buttons/buttons.module.ts
  src/buttons/checkbox.spec.ts
  src/buttons/checkbox.ts
  src/buttons/label.ts
  src/buttons/radio.spec.ts
  src/buttons/radio.ts
  src/index.ts
Labels: component: buttons, needs: review, type: doc

#4274 test: bump to Safari 15 for Sauce Labs
  src/karma.sauce.conf.js
Labels: type: tests

#4286 demo: use SVG logo on the main page
  demo/src/app/default/default.component.html
  demo/src/public/img/logo-stack.png
Labels: type: demo site

#4285 demo: remove 'tabset' section and code completely
  demo/src/app/app.module.ts
  demo/src/app/app.routing.ts
  demo/src/app/components/components.e2e-spec.ts
  demo/src/app/components/nav/overview/nav-overview.component.html
  demo/src/app/components/tabset/demos/basic/tabset-basic.html
  demo/src/app/components/tabset/demos/basic/tabset-basic.module.ts
  demo/src/app/components/tabset/demos/basic/tabset-basic.ts
  demo/src/app/components/tabset/demos/config/tabset-config.html
  demo/src/app/components/tabset/demos/config/tabset-config.module.ts
  demo/src/app/components/tabset/demos/config/tabset-config.ts
  demo/src/app/components/tabset/demos/justify/tabset-justify.html
  demo/src/app/components/tabset/demos/justify/tabset-justify.module.ts
  demo/src/app/components/tabset/demos/justify/tabset-justify.ts
  demo/src/app/components/tabset/demos/orientation/tabset-orientation.html
  demo/src/app/components/tabset/demos/orientation/tabset-orientation.module.ts
  demo/src/app/components/tabset/demos/orientation/tabset-orientation.ts
  demo/src/app/components/tabset/demos/pills/tabset-pills.html
  demo/src/app/components/tabset/demos/pills/tabset-pills.module.ts
  demo/src/app/components/tabset/demos/pills/tabset-pills.ts
  demo/src/app/components/tabset/demos/preventchange/tabset-prevent-change.module.ts
  demo/src/app/components/tabset/demos/preventchange/tabset-preventchange.html
  demo/src/app/components/tabset/demos/preventchange/tabset-preventchange.ts
  demo/src/app/components/tabset/demos/selectbyid/tabset-selectbyid.html
  demo/src/app/components/tabset/demos/selectbyid/tabset-selectbyid.module.ts
  demo/src/app/components/tabset/demos/selectbyid/tabset-selectbyid.ts
  demo/src/app/components/tabset/tabset-warning.component.ts
  demo/src/app/components/tabset/tabset.module.ts
  demo/src/app/default/default.component.html
  demo/src/app/ng-bootstrap.ts
  demo/src/app/shared/side-nav/side-nav.component.ts
  demo/tsconfig.json
  src/tabset/tabset-config.spec.ts
  src/tabset/tabset-config.ts
  src/tabset/tabset.module.ts
  src/tabset/tabset.spec.ts
  src/tabset/tabset.ts
Labels: type: demo site, component: nav

#4288 demo(toast): clear toasts from the service when the demo is destroyed
  demo/src/app/components/toast/demos/howto-global/toast-global.component.ts
  demo/src/app/components/toast/demos/howto-global/toast-service.ts
Labels: type: demo, component: toast

#4196 fix(accordion): ids that begin with number were not accepted, #4195
  src/accordion/accordion.module.ts
  src/accordion/accordion.spec.ts
  src/accordion/accordion.ts
Labels: needs: info, type: bug, component: accordion

#4289 test: update playwright and enable fullyParallel
  demo/playwright.config.ts
  e2e-app/playwright.config.ts
  package.json
  ssr-app/playwright.config.ts
  yarn.lock
Labels: type: tests

#4113 build: update husky to v7 and migrate config
  .huskyrc
  package.json
  scripts/.husky/commit-msg
  scripts/.husky/common.sh
  yarn.lock
Labels: needs: merging, type: build

#4296 Update toast-overview.component.ts
  demo/src/app/components/toast/overview/toast-overview.component.ts
Labels: needs: merging, type: doc, type: demo, component: toast

#4294 fix(datepicker): do not scroll when opening with container='body'
  src/datepicker/datepicker-input.spec.ts
  src/datepicker/datepicker-input.ts
Labels: needs: review, component: datepicker

#4295 fix(modal): remove visual 'twitch' when closing
  src/modal/modal-stack.ts
  src/modal/modal.spec.ts
Labels: component: modal, needs: review
