Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2022-11, with the labels that each got.

#4411 refactor(toast): update toast transitions to Bootstrap 5.2
  src/toast/toast-transition.ts
  src/toast/toast.spec.ts
Labels: type: animation, component: toast

#4431 test: make template parsing stricter in tests
  src/test.ts
Labels: type: tests

#4433 demo: use `NgFor` instead of `NgForOf`
  demo/src/app/components/carousel/demos/navigation/carousel-navigation.ts
  demo/src/app/components/carousel/demos/pause/carousel-pause.ts
  demo/src/app/components/datepicker/calendars/datepicker-calendars.component.ts
  demo/src/app/components/datepicker/demos/custommonth/datepicker-custommonth.ts
  demo/src/app/components/nav/demos/dynamic/nav-dynamic.ts
  demo/src/app/components/table/demos/basic/table-basic.ts
  demo/src/app/components/table/demos/complete/table-complete.ts
  demo/src/app/components/table/demos/filtering/table-filtering.ts
  demo/src/app/components/table/demos/pagination/table-pagination.ts
  demo/src/app/components/table/demos/sortable/table-sortable.ts
  demo/src/app/components/table/overview/demo/table-overview-demo.component.ts
  demo/src/app/components/toast/demos/howto-global/toasts-container.component.ts
  demo/src/app/demo-versions.component.ts
  demo/src/app/shared/api-docs/api-docs-class.component.ts
  demo/src/app/shared/api-docs/api-docs-config.component.ts
  demo/src/app/shared/api-docs/api-docs.component.ts
  demo/src/app/shared/api-page/api-page.component.ts
  demo/src/app/shared/component-wrapper/component-wrapper.component.ts
  demo/src/app/shared/examples-page/demo.component.ts
  demo/src/app/shared/examples-page/examples.component.ts
  demo/src/app/shared/page-wrapper/page-wrapper.component.ts
  demo/src/app/shared/side-nav/side-nav.component.ts
Labels: type: demo
