Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2023-11, with the labels that each got.

#4578 docs: add a note about style needed for scroll to work
  demo/src/app/components/offcanvas/demos/component/offcanvas-component.html
  demo/src/app/components/offcanvas/demos/component/offcanvas-component.ts
Labels: needs: merging, type: doc, type: demo, component: offcanvas

#4602 build: cleanup package.json and angular.json
  angular.json
  package.json
Labels: type: build

#4612 Demo: fix StackBlitz URL
  demo/src/app/shared/examples-page/demo.component.html
  demo/src/app/shared/examples-page/demo.component.ts
Labels: type: demo site

#4611 fix(datepicker): add a custom class to set the header padding
  demo/src/app/components/datepicker/demos/custommonth/datepicker-custommonth.html
  demo/src/app/components/datepicker/demos/custommonth/datepicker-custommonth.ts
Labels: component: datepicker, type: demo

#4625 fix(accordion): allow querying body template
  src/accordion/accordion.directive.spec.ts
  src/accordion/accordion.directive.ts
Labels: type: bug, component: accordion

#4626 fix(dropdown): allow setting custom tabindex on items
  src/dropdown/dropdown.spec.ts
  src/dropdown/dropdown.ts
Labels: component: dropdown, type: bug

#4629 demo: remove styles array
  demo/src/app/components/datepicker/demos/customday/datepicker-customday.ts
  demo/src/app/components/datepicker/demos/custommonth/datepicker-custommonth.ts
  demo/src/app/components/datepicker/demos/hebrew/datepicker-hebrew.ts
  demo/src/app/components/datepicker/demos/multiple/datepicker-multiple.ts
  demo/src/app/components/datepicker/demos/range-popup/datepicker-range-popup.ts
  demo/src/app/components/datepicker/demos/range/datepicker-range.ts
  demo/src/app/components/datepicker/overview/demo/datepicker-overview-demo.component.ts
  demo/src/app/components/modal/demos/options/modal-options.ts
  demo/src/app/components/nav/demos/dynamic/nav-dynamic.ts
  demo/src/app/components/offcanvas/demos/component/offcanvas-component.ts
  demo/src/app/components/toast/overview/toast-overview.component.ts
  demo/src/app/components/tooltip/demos/container/tooltip-container.ts
  demo/src/app/shared/api-docs/api-docs-class.component.ts
  demo/src/app/shared/api-docs/api-docs.component.ts
  ssr-app/src/app/components/rating.component.ts
Labels: type: demo

#4621 feat(progressbar): add stacked input
  demo/src/app/components/progressbar/demos/stacked/progressbar-stacked.html
  demo/src/app/components/progressbar/demos/stacked/progressbar-stacked.ts
  demo/src/app/components/progressbar/progressbar.routes.ts
  src/index.ts
  src/progressbar/progressbar.module.ts
  src/progressbar/progressbar.spec.ts
  src/progressbar/progressbar.ts
Labels: type: feature, component: progressbar

#4631 docs(datepicker): add info on ethiopian calender
  demo/src/app/components/datepicker/calendars/datepicker-calendars.component.ts
  demo/src/app/components/datepicker/demos/ethiopian/datepicker-ethiopian.html
Labels: component: datepicker, type: demo
