Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2023-03, with the labels that each got.

#4437 [WIP] feat(accordion): wip accordion directive
  demo/src/app/components/accordion/accordion.routes.ts
  demo/src/app/components/accordion/demos/directive/accordion-basic.html
  demo/src/app/components/accordion/demos/directive/accordion-basic.ts
  demo/src/style/app.scss
  src/accordion/accordion.directive.spec.ts
  src/accordion/accordion.directive.ts
  src/accordion/accordion.module.ts
  src/index.ts
Labels: needs: review, type: feature, component: accordion

#4479 feat(accordion): export `NgbAccordionItem` directive to the template
  src/accordion/accordion.directive.spec.ts
  src/accordion/accordion.directive.ts
Labels: type: feature, component: accordion

#4480 fix(accordion): fix onpush change detection strategy behavior
  src/accordion/accordion.directive.spec.ts
  src/accordion/accordion.directive.ts
Labels: component: accordion

#4483 test(accordion): use new accordion directives for SSR tests
  ssr-app/src/app/components/accordion.component.ts
Labels: type: tests, component: accordion, type: ssr
