Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2023-01, with the labels that each got.

#4464 fix(modal): provide `NgbModal` at the correct level
  src/modal/modal-lazy-module.spec.ts
  src/modal/modal-stack.ts
  src/modal/modal.module.ts
  src/modal/modal.spec.ts
Labels: component: modal

#4461 fix(progressbar): aria attributes in parent and class text-bg-color when no textType
  src/progressbar/progressbar.spec.ts
  src/progressbar/progressbar.ts
Labels: type: accessibility, component: progressbar, type: CSS

#4466 demo: add forgotten `standalone: true` to modal components
  demo/src/app/components/modal/demos/component/modal-component.ts
  demo/src/app/components/modal/demos/focus/modal-focus.ts
  demo/src/app/components/modal/demos/stacked/modal-stacked.ts
Labels: component: modal, type: demo

#4453 feat(rating): add customization to aria-valuetext
  demo/src/app/components/rating/demos/decimal/rating-decimal.html
  demo/src/app/components/rating/demos/decimal/rating-decimal.ts
  src/rating/rating.spec.ts
  src/rating/rating.ts
Labels: needs: merging, type: feature, component: rating
