Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2023-10, with the labels that each got.

#4569 refactor(alert): remove `Renderer2`
  src/alert/alert.spec.ts
  src/alert/alert.ts
Labels: component: alert

#4575 build: sauce labs fixes
  package.json
  src/karma.sauce.conf.js
  yarn.lock
Labels: type: tests, type: build

#4579 build: sauce labs connect action
  .github/workflows/saucelabs.yml
Labels: type: tests, type: build

#4583 feat(accordion): migrate demo config
  demo/src/app/components/accordion/demos/config/accordion-config.html
Labels: component: accordion, type: demo, type: demo site

#4584 refactor: remove `hasClassName` utility
  src/datepicker/datepicker.ts
  src/util/util.spec.ts
  src/util/util.ts
Labels: component: datepicker

#4586 fix(rating): generate correct `aria-readonly/disabled` attributes
  src/rating/rating.spec.ts
  src/rating/rating.ts
Labels: component: rating

#4532 fix(dropdown): add `show` class to dropdown toggle when dropdown is open
  src/dropdown/dropdown.spec.ts
  src/dropdown/dropdown.ts
Labels: component: dropdown, breaking change, bootstrap 5

#4588 feat: accessibility fixes + e2e axe
  demo/src/app/components/components.e2e-spec.ts
  demo/src/app/components/table/demos/basic/table-basic.html
  demo/src/app/components/table/demos/complete/table-complete.html
  demo/src/app/components/table/demos/filtering/table-filtering.html
  demo/src/app/components/table/demos/pagination/table-pagination.html
  demo/src/app/components/table/demos/sortable/table-sortable.html
  demo/src/app/components/table/overview/demo/table-overview-demo.component.ts
  package.json
  src/carousel/carousel.ts
  yarn.lock
Labels: type: accessibility, type: demo, type: demo site
