Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2023-05, with the labels that each got.

#4471 feat(dropdown): replace NgbNavbar usage by DOM call to closest()
  src/dropdown/dropdown.module.ts
  src/dropdown/dropdown.ts
  src/index.ts
Labels: component: dropdown, type: feature

#4506 fix(accordion): don't fail when calling `toggle()` too early
  src/accordion/accordion.directive.spec.ts
  src/accordion/accordion.directive.ts
Labels: type: bug, component: accordion

#4507 fix(accordion): use a directive for `NgbAccordionBody`
  src/accordion/accordion.directive.ts
Labels: component: accordion

#3922 fix(datepicker): navigation arrow class override
  demo/src/style/app.scss
  src/datepicker/datepicker-navigation.scss
  src/datepicker/datepicker-navigation.ts
Labels: needs: work, component: datepicker, breaking change, type: CSS, needs: prettier
