Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2023-06, with the labels that each got.

#4522 demo: use `provideHttpClient` in stackblitz demos
  misc/stackblitzes-templates/main.ts.ejs
Labels: type: demo

#4517 docs: fix the logic to get name/alias of inputs
  misc/api-doc-test-cases/directives-with-inputs.ts
  misc/api-doc.spec.ts
  misc/api-doc.ts
Labels: needs: review, type: bug, type: doc

#4521 fix(dropdown): set display when inside a navbar and guarded by ngIf
  src/dropdown/dropdown.spec.ts
  src/dropdown/dropdown.ts
Labels: component: dropdown

#4512 feat(popover/tooltip): add default TemplateRef context
  demo/src/app/components/popover/demos/tplwithcontext/popover-tplwithcontext.html
  demo/src/app/components/tooltip/demos/tplwithcontext/tooltip-tplwithcontext.html
  src/popover/popover.spec.ts
  src/popover/popover.ts
  src/tooltip/tooltip.spec.ts
  src/tooltip/tooltip.ts
Labels: component: popover, component: tooltip, needs: merging, type: feature

#4524 fix(carousel): move 'aria-activedescendant' attribute to indicators
  src/carousel/carousel.spec.ts
  src/carousel/carousel.ts
Labels: component: carousel, needs: review, type: accessibility
