Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2024-12, with the labels that each got.

#4780 fix(toast): added correct ariaLive values
  src/toast/toast-config.ts
Labels: type: accessibility, breaking change, component: toast

#4760 fix(core): restore popper default preventOverflow function
  src/util/positioning.ts
Labels: component: popover, breaking change, type: positioning

#4763 test(accordion): add missing tests
  src/accordion/accordion-config.spec.ts
Labels: type: tests

#4731 docs(tooltip): replace term popover with tooltip in isOpen() method description.
  src/tooltip/tooltip.ts
Labels: component: tooltip, type: doc

#4655 docs(datepicker): replace strange quote
  demo/src/app/components/datepicker/overview/datepicker-overview.component.ts
Labels: type: doc, component: datepicker, type: demo

#4670 feat(modal): add role option
  e2e-app/src/app/app.routes.ts
  e2e-app/src/app/modal/role/modal-role.component.html
  e2e-app/src/app/modal/role/modal-role.component.ts
  e2e-app/src/app/modal/role/modal-role.e2e-spec.ts
  e2e-app/src/app/modal/role/modal-role.po.ts
  src/modal/modal-config.spec.ts
  src/modal/modal-config.ts
  src/modal/modal-ref.ts
  src/modal/modal-window.spec.ts
  src/modal/modal-window.ts
Labels: component: modal, type: feature, type: accessibility
