Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2024-06, with the labels that each got.

#4711 fix(typeahead): track results by index in NgbTypeahead
  src/typeahead/typeahead-window.ts
Labels: component: typeahead

#4712 fix(datepicker): track weekdays by $index
  src/datepicker/datepicker.ts
Labels: component: datepicker

#4718 test: issue a warning that was commented out by mistake
  src/test/common.ts
Labels: type: tests

#4660 (docs) pagination: fix misspelled word in pagination usage example
  demo/src/app/components/pagination/overview/pagination-overview.component.html
Labels: type: doc, component: pagination

#4671 (docs) scrollspy: fix misspelled word in scrollspy overview docs
  demo/src/app/components/scrollspy/overview/scrollspy-overview.component.html
Labels: component: scrollspy, type: doc

#4726 Use `esbuild` for the demo site
  angular.json
  demo/src/index.html
  demo/src/public/index.html
  misc/demo-release-snapshot.ts
  package.json
Labels: type: feature, type: demo site

#4727 demo: cleanup and migration to signals
  demo/src/app/components/accordion/accordion.routes.ts
  demo/src/app/components/accordion/overview/accordion-overview.component.ts
  demo/src/app/components/alert/alert.routes.ts
  demo/src/app/components/carousel/carousel.routes.ts
  demo/src/app/components/collapse/collapse.routes.ts
  demo/src/app/components/datepicker/calendars/datepicker-calendars.component.ts
  demo/src/app/components/datepicker/datepicker.routes.ts
  demo/src/app/components/datepicker/overview/datepicker-overview.component.html
  demo/src/app/components/datepicker/overview/datepicker-overview.component.ts
  demo/src/app/components/dropdown/dropdown.routes.ts
  demo/src/app/components/modal/modal.routes.ts
  demo/src/app/components/nav/nav.routes.ts
  demo/src/app/components/nav/overview/nav-overview.component.ts
  demo/src/app/components/offcanvas/offcanvas.routes.ts
  demo/src/app/components/pagination/overview/pagination-overview.component.ts
  demo/src/app/components/pagination/pagination.routes.ts
  demo/src/app/components/popover/popover.routes.ts
  demo/src/app/components/progressbar/progressbar.routes.ts
  demo/src/app/components/rating/rating.routes.ts
  demo/src/app/components/scrollspy/overview/scrollspy-overview.component.ts
  demo/src/app/components/scrollspy/scrollspy.routes.ts
  demo/src/app/components/table/overview/table-overview.component.ts
  demo/src/app/components/table/table.routes.ts
  demo/src/app/components/timepicker/timepicker.routes.ts
  demo/src/app/components/toast/overview/toast-overview.component.ts
  demo/src/app/components/toast/toast.routes.ts
  demo/src/app/components/tooltip/tooltip.routes.ts
  demo/src/app/components/typeahead/typeahead.routes.ts
  demo/src/app/pages/getting-started/getting-started.page.html
  demo/src/app/pages/getting-started/getting-started.page.ts
  demo/src/app/pages/home/home.page.ts
  demo/src/app/pages/i18n/i18n.page.ts
  demo/src/app/pages/positioning/positioning.page.ts
  demo/src/app/services/demo-code.service.ts
  demo/src/app/shared/api-docs/api-docs-badge.component.ts
  demo/src/app/shared/api-docs/api-docs-class.component.html
  demo/src/app/shared/api-docs/api-docs-class.component.ts
  demo/src/app/shared/api-docs/api-docs-config.component.html
  demo/src/app/shared/api-docs/api-docs-config.component.ts
  demo/src/app/shared/api-docs/api-docs.component.html
  demo/src/app/shared/api-docs/api-docs.component.ts
  demo/src/app/shared/api-page/api-page.component.ts
  demo/src/app/shared/code.component.ts
  demo/src/app/shared/component-wrapper/component-page.class.ts
  demo/src/app/shared/component-wrapper/component-wrapper.component.html
  demo/src/app/shared/component-wrapper/component-wrapper.component.ts
  demo/src/app/shared/examples-page/demo.component.html
  demo/src/app/shared/examples-page/demo.component.ts
  demo/src/app/shared/examples-page/examples-page.component.ts
  demo/src/app/shared/overview-page/overview-page.class.ts
  demo/src/app/shared/page-header.component.ts
  demo/src/app/shared/page-wrapper/page-wrapper.component.html
  demo/src/app/shared/page-wrapper/page-wrapper.component.ts
  demo/src/app/shared/side-nav/side-nav.component.ts
  demo/src/app/shared/theme-picker.component.ts
  demo/src/app/shared/version-picker.component.ts
  demo/src/app/tokens.ts
Labels: type: demo site

#4728 demo: enable zoneless CD on the demo site
  angular.json
  demo/src/main.ts
Labels: type: demo site
