Repository ng-bootstrap/ng-bootstrap, pull requests merged in 2025-06, with the labels that each got.

#4832 docs: update dependencies versions in getting started
  demo/src/app/pages/getting-started/getting-started.page.html
Labels: type: demo

#4843 fix(toast): missing export of NgbToastOptions interface
  src/index.ts
Labels: type: bug, component: toast

#4844 feat(datepicker): export DayTemplateContext
  src/datepicker/datepicker.module.ts
  src/index.ts
Labels: type: bug, component: datepicker

#4845 demo: add clipboard button functionality and relevant styling
  demo/src/app/shared/code.component.ts
  demo/src/style/prism-dark.css
  demo/src/style/prism-light.css
Labels: type: demo
